<template>
  <div class="city-list">
    <div class="group" ref="group">
      <div :class="['group-item', { isHot: item.isHot }]" v-for="item in grouplist" :key="item.type">
        <h3>{{ item.type }}</h3>
        <ul>
          <li v-for="val in item.list" :key="val.cityId">{{ val.name }}</li>
        </ul>
      </div>
    </div>
    <div class="letter">
      <p v-for="(item, index) in letterArr" :key="item.type" @click="jump(index, item.type)">{{ item.type }}</p>
    </div>
    <div class="tip" v-show="tipText">{{ tipText }}</div>
  </div>
</template>

<script>
export default {
  props: ['grouplist'],
  data () {
    return {
      tipText: ''
    }
  },
  methods: {
    jump (index, letter) {
      // console.log(index, this.$refs.group.children[index + 1])
      this.$refs.group.scrollTop = this.$refs.group.children[index + 1].offsetTop
      console.log(letter)
      this.showTip(letter)
    },
    showTip (text) {
      this.tipText = text
      if (this.timer) clearTimeout(this.timer)
      this.timer = setTimeout(() => {
        this.tipText = ''
      }, 2000)
    }
  },
  computed: {
    letterArr () {
      return this.grouplist.slice(1)
    }
  }
}
</script>

<style lang="scss" scoped>
.city-list {
  height: 100%;
  overflow: hidden;
  position: relative;
}
.group {
  height: 100%;
  overflow: auto;
  padding-right: 20px;
}
.group-item {
  h3 {
    height: 30px;
    padding-left: 15px;
    background-color: #f4f4f4;
    color: #797d82;
    line-height: 30px;
    font-size: 12px;
    font-weight: normal;
  }
  ul {
    padding-left: 20px;
    li {
      line-height: 48px;
      border-bottom: 1px solid #ededed;
      &:last-of-type {
        border-bottom: none;
      }
    }
  }
}
.isHot {
  padding-top: 15px;
  h3 {
    background: none;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      background: #f4f4f4;
      width: calc((100% - 30px) / 3);
      margin-right: 15px;
      height: 30px;
      line-height: 30px;
      border-bottom: none;
      text-align: center;
      margin-bottom: 15px;
      &:nth-child(3n) {
        margin-right: 0;
      }
    }
  }
}
.letter {
  position: absolute;
  top: 0;
  right: 0;
  width: 20px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  p {
    text-align: center;
    font-size: 12px;
  }
}
.tip {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba($color: #000000, $alpha: .7);
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: #f4f4f4;
  font-size: 20px;
  border-radius: 5px;
}
</style>
