* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  // 标准屏幕下 750px: 1rem === 10px
  // 放大比例 = 当前屏幕宽度 / 750 
  // 1rem === 10px * 放大比例
  font-size: calc(100vw / 750 * 10)
}
body {
  font-size: 14px;
}
.box {
  font-size: 10px;
  width: 69rem;
  height: 26.6rem;
  background: red;
}
// px 固定单位
// em 相对单位，先找元素本身的font-size，没有就往父元素查找
// rem 相对单位，相对于 html 的 font-size
// vw 100vw === 屏幕的宽度
// vh 100vh === 屏幕的高度


.wrap {
  border: 1px solid;
  height: 300px;
  // 容器属性
  display: flex;
  // 主轴方向
  flex-direction: row;
  // 主轴对齐方式
  // justify-content: space-around;
  // 交叉轴对齐方式
  // align-items: center;
  // 换行
  flex-wrap: wrap;
  // 多行对齐方式
  align-content: start;
  p {
    width: 100px;
    height: 100px;
    margin-right: calc((100% - 300px) / 2);
    background: #999999;
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
}

.wrap1 {
  display: flex;
  background: tomato;
  width: 300px;
  height: 300px;
  p {
    background: green;
    width: 200px;
    // flex: 0 1 auto;
    // flex-shrink: 0;
    // flex-basis: 100px;
    // &:nth-child(1) {
    //   flex-grow: 1;
    //   background: green;
    // }
    // &:nth-child(2) {
    //   flex-grow: 2;
    //   background: orange;
    // }
    // &:nth-child(3) {
    //   flex-grow: 3;
    //   background: blue;
    // }
  }
}

@keyframes ani {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(200px, 0);
  }
  100% {
    transform: translate(200px, 200px);
  }
}


.box1 {
  width: 100px;
  height: 100px;
  background: red;
  animation: ani 5s linear forwards;
  // transition: transform 2s linear;
}