<script setup>
import { RouterView, RouterLink } from 'vue-router'
import { useMovieStore } from '@/stores/movie'

const movieStore = useMovieStore()

const scrollList = (e) => {
  const { scrollTop, clientHeight, scrollHeight } = e.target
  if (scrollTop + clientHeight >= scrollHeight) {
    // 通知store滚动到底部了
    movieStore.changePageNum()
  }
}
</script>


<template>
  <div class="movie" @scroll="scrollList">
    <nav>
      <RouterLink replace to="/home/movie/hot">正在热映</RouterLink>
      <RouterLink replace to="/home/movie/coming">即将上映</RouterLink>
    </nav>
    <RouterView />
  </div>
</template>

<style lang='scss' scoped>
.movie {
  width: 100%;
  height: 100%;
  overflow: auto;
  nav {
    height: 40px;
    text-align: center;
    display: flex;
    border-bottom: 1px solid;
    a {
      flex: 1;
      line-height: 40px;
      &.router-link-active {
        background: tomato;
      }
    }
  }
}
</style>
