* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #989898;
}
.wrap {
  width: 700px;
  height: 400px;
  border: 5px solid #f4b03e;
  margin: 100px auto 0;
  background: #bcbcbc;
  display: flex;
}