<template>
  <div class="compare" v-if="visible">
    <transition
      v-for="(item, index) in headerList"
      :key="item.title"
      :enter-active-class="enterClass(index)"
      :leave-active-class="leaveClass(index)"
      @after-leave="$emit('update:visible', false)"
    >
      <div class="item" v-if="showItem">
        <img :src="item.src" alt="">
        <p>{{ item.title }}</p>
        <p>{{ item.price }}</p>
        <p>{{ item.year }}</p>
      </div>
    </transition>
    <div class="close jia" v-if="showItem" @click="showItem = false"></div>
  </div>
</template>

<script>
export default {
  props: ['headerList', 'visible'],
  data() {
    return {
      showItem: false
    }
  },
  watch: {
    visible() {
      if (this.visible) {
        // 等待父元素展示完成再渲染子元素
        setTimeout(() => {
          this.showItem = true
        })
      }
    }
  },
  methods: {
    enterClass(index) {
      return `animate__animated ${index % 2 === 0 ? 'animate__fadeInDown' : 'animate__fadeInUp'}`
    },
    leaveClass(index) {
      return `animate__animated ${index % 2 === 0 ? 'animate__fadeOutDown' : 'animate__fadeOutUp'}`
    }
  }
}
</script>

<style lang="scss" scoped>
.compare {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1;
  display: flex;
}
.close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: rotate(45deg);
}
.item {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #eeeeee;
  background: #242529;
  &:nth-child(even) {
    background: #212226;
  }
  p {
    margin-top: 20px;
  }
  img {
    width: 160px;
  }
}
</style>