<template>
  <header>
    <ul>
      <li v-for="item in headerList" :key="item.title">
        <img :src="item.src" alt="">
        <span @click="$emit('changeChecked', item)" class="jia"></span>
      </li>
      <li class="empty" v-if="headerList.length < 3"></li>
    </ul>
    <button :disabled="headerList.length < 2" @click="$emit('compare')">Compare</button>
  </header>
</template>

<script>
export default {
  props: ['headerList']
}
</script>

<style lang="scss" scoped>
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background: rgba($color: #000000, $alpha: .5);
  z-index: 1;
  display: flex;
  padding: 10px;
  justify-content: flex-end;
  ul {
    display: flex;
    flex-direction: row-reverse;
    li {
      width: 40px;
      height: 40px;
      background: #42444e;
      margin-right: 10px;
      border-radius: 3px;
      padding: 3px;
      position: relative;
      &.empty {
        background: #2c2d33;
      }
      img {
        width: 100%;
        vertical-align: middle;
      }
      span {
        position: absolute;
        top: 0;
        right: 0;
        width: 12px;
        height: 12px;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        transform: rotate(45deg);
        cursor: pointer;
      }
    }
  }
  button {
    width: 100px;
    border: none;
    border-radius: 3px;
    background: #484ec0;
    color: #eeeeee;
    &:disabled {
      background: #34363c;
      color: #585c6b;
    }
  }
}
</style>