/* components/dice/dice.wxss */
@import '../../styles/common.scss';
.dices {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.item {
  width: rpx(100);
  height: rpx(100);
  background: #cccccc;
  margin: rpx(10) rpx(20);
  display: flex;
  flex-wrap: wrap;
  border-radius: rpx(10);
  padding: rpx(10);
  box-sizing: border-box;
}
.num1 {
  justify-content: center;
  align-items: center;
}
.num2 {
  justify-content: space-between;
  align-content: space-between;
  .point:last-of-type {
    margin-left: rpx(60);
  }
}
.num3 {
  justify-content: space-between;
  align-content: space-between;
  .point:nth-child(2) {
    margin: 0 rpx(30);
  }
  .point:nth-child(3) {
    margin-left: rpx(60);
  }
}
.num4, .num6 {
  justify-content: space-between;
  align-content: space-between;
  .point:nth-child(odd) {
    margin-right: rpx(40);
  }
}
.num5 {
  justify-content: space-between;
  align-content: space-between;
  .point:nth-child(3) {
    margin: 0 rpx(30);
  }
}
.point {
  width: rpx(20);
  height: rpx(20);
  background: #333333;
  border-radius: 50%;
}