* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.active {
  color: #ffffff;
  background: red;
  font-weight: bold;
}
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 40px;
    border-top: 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 40px;
    }
  }
}