* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
body {
  background: #eeeeee;
}
.app {
  padding: 20px;
}
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
  footer {
    height: 50px;
    border-top: 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 50px;
      &.active {
        background: tomato;
      }
    }
  }
}
.list {
  padding-left: 20px;
}