<template>
  <div>
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <hr />
    <button @click="change">切换图片</button>
    {{img}}
    <div>
      <img v-if="title.length > 0" v-load="img" width="200" >
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      title: '自定义指令',
      show: true,
      img: 'https://img.juzimo.com/20200823/8023844978096701440.jpg'
    }
  },
  methods: {
    change () {
      this.show = !this.show
      if (this.show) {
        this.img = 'https://img.juzimo.com/20200823/8023844978096701440.jpg'
      } else {
        this.img = 'https://lmg.jj20.com/up/allimg/tp03/1Z92121503RK0-0-lp.jpg'
      }
    }
  }
}
</script>

<style>

</style>
