<script setup>
import { reactive, ref, computed, watch, watchEffect, onMounted, onUpdated, nextTick } from 'vue'
import Child from './components/Child.vue'

const count = ref(0)
const text = ref('默认值')

</script>

<template>
  <h2>app组件</h2>
  <p>count: {{ count }} <button @click="count++">+</button></p>
  <p>texg: {{ text }} <button @click="text = Math.random()">修改text</button></p>
  <Child
    v-model:count="count"
    v-model="text"
  />
  <!-- <Child
    :count="count"
    @update:count="e => count = e"
    :modelValue="text"
    @update:modelValue="e => text = e"
  /> -->
</template>

<style scoped>

</style>
