<template>
  <div>
    <h2>电影页面</h2>
    <router-link to="/city">城市</router-link>
    <router-link to="/detail">详情</router-link>
    <router-link to="/login">登录</router-link>
  </div>
</template>

<script>
export default {
  created() {
    console.log(this.$route)
  }
}
</script>

<style>

</style>