<template>
  <div>
    <button @click="count++">{{count}}</button>
    <button @click="show = false">删除child1</button>
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <button @click="handleClick">调用子组件的函数 +2</button>
    <!-- ref 获取组件实例对象 -->
    <Child1 v-if="show" ref="ChildRef" :rootTitle="title" @changeTitle="changeTitle" />
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
export default {
  data () {
    return {
      title: 'app',
      count: 10,
      show: true
    }
  },
  methods: {
    changeTitle (e) {
      // e: 接收子组件变量
      this.title = e
    },
    handleClick () {
      // 通过组件实例调用子组件的方法
      console.log(this.$refs.ChildRef)
      this.$refs.ChildRef.changeNum(2)
    }
  },
  components: {
    Child1
  },
  beforeCreate () {
    console.log('%c App beforeCreate', 'color: red')
  },
  created () {
    console.log('%c App created', 'color: red')
  },
  beforeMount () {
    console.log('%c App beforeMount', 'color: red')
  },
  mounted () {
    console.log('%c App mounted', 'color: red')
  },
  beforeUpdate () {
    console.log('%c App beforeUpdate', 'color: red')
  },
  updated () {
    console.log('%c App updated', 'color: red')
  }
}
// 父子组件的生命周期顺序
// App beforeCreate created beforeMount
// Child1 beforeCreate created beforeMount mounted
// App mounted
</script>

<style>

</style>
