* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

.wrap {
  width: 1200px;
  margin: 30px auto;
  border: 1px solid #999999;
  min-height: 1000px;
  position: relative;
  display: flex;
}

.submit {
  display: block;
  margin: 30px auto;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  background: tomato;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
}

.submit:disabled {
  background: #cccccc;
}

.question {
  flex: 1;
  border-right: 1px solid #999999;
}

.question h2 {
  background: #999999;
  height: 50px;
  line-height: 50px;
  padding: 0 20px;
  position: sticky;
  top: 0;
  left: 0;
}

.question .list {
  padding-top: 50px;
}

.question .list-item {
  border-top: 4px solid #cccccc;
  display: flex;
  padding: 30px;
}

.question .no {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: skyblue;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  font-size: 20px;
}

.question .question-content {
  flex: 1;
  margin-left: 20px;
}

.question .question-content h3 {
  margin-bottom: 20px;
}

.question .question-content li {
  height: 40px;
  line-height: 40px;
  display: flex;
}

.question .question-content li input {
  margin-right: 10px;
  width: 20px;
}

.question .question-content li label {
  flex: 1;
}

.question .question-content li:hover {
  background: #cccccc;
}

.card {
  position: sticky;
  top: 0;
  width: 256px;
  height: 400px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
}

.card .num {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  padding: 20px 10px;
}

.card .num button {
  width: 30px;
  height: 30px;
  flex-shrink: 0;
  margin-right: calc((100% - 30px * 6) / 5);
  margin-bottom: 11px;
  border: none;
}

.card .num button:nth-child(6n) {
  margin-right: 0;
}

.card .num button.active {
  background: skyblue;
}

.card .num button.red {
  background: red;
}

.card-top {
  height: 50px;
  line-height: 50px;
  display: flex;
}

.card-top p {
  flex: 1;
  text-align: center;
  font-size: 20px;
}

.card-top .title {
  background-color: #5D9CEC;
  color: #ffffff;
}

.card-top .count-down {
  background-color: #f3f3f3;
  color: #ff0000;
}

.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

.dialog .dialog-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: #ffffff;
  border-radius: 5px;
  overflow: hidden;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.dialog .dialog-content img {
  width: 100px;
}

.dialog .dialog-content h4 {
  margin: 20px 0;
  font-size: 22px;
}

.dialog .dialog-content h4 span {
  color: #ff0000;
}

.dialog .dialog-content button {
  width: 100px;
  height: 40px;
  background: #a5cb50;
}

.dialog.show {
  display: block;
}
