// 预编译语言
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; // IE盒模型
}
li {
  list-style: none;
}
html {
  // 滚动动画
  scroll-behavior: smooth;
}
.wrap {
  width: 1200px;
  margin: 30px auto;
  border: 1px solid #999999;
  min-height: 1000px;
  position: relative;
  display: flex;
}
.submit {
  display: block;
  margin: 30px auto;
  border: none;
  cursor: pointer;
  width: 100px;
  height: 40px;
  background: tomato;
  color: #ffffff;
  text-align: center;
  line-height: 40px;
  border-radius: 5px;
  &:disabled {
    background: #cccccc;
  }
}
.question {
  flex: 1;
  border-right: 1px solid #999999;
  h2 {
    background: #999999;
    height: 50px;
    line-height: 50px;
    padding: 0 20px;
    position: sticky;
    top: 0;
    left: 0;
  }
  .list {
    padding-top: 50px;
  }
  .list-item {
    border-top: 4px solid #cccccc;
    display: flex;
    padding: 30px;
  }
  .no {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: skyblue;
    text-align: center;
    line-height: 30px;
    color: #ffffff;
    font-size: 20px;
  }
  .question-content {
    flex: 1;
    margin-left: 20px;
    h3 {
      margin-bottom: 20px;
    }
    li {
      height: 40px;
      line-height: 40px;
      display: flex;
      input {
        margin-right: 10px;
        width: 20px;
      }
      label {
        flex: 1;
      }
      &:hover {
        background: #cccccc;
      }
    }
  }
}
.card {
  position: sticky;
  top: 0;
  width: 256px;
  height: 400px;
  background: rgba($color: #000000, $alpha: .5);
  display: flex;
  flex-direction: column;
  .num {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 20px 10px;
    button {
      width: 30px;
      height: 30px;
      flex-shrink: 0;
      margin-right: calc((100% - 30px * 6) / 5);
      margin-bottom: 11px;
      border: none;
      &:nth-child(6n) {
        margin-right: 0;
      }
      &.active {
        background: skyblue;
      }
      &.red {
        background: red;
      }
    }
  }
}
.card-top {
  height: 50px;
  line-height: 50px;
  display: flex;
  p {
    flex: 1;
    text-align: center;
    font-size: 20px;
  }
  .title {
    background-color: #5D9CEC;
    color: #ffffff;
  }
  .count-down {
    background-color: #f3f3f3;
    color: #ff0000;
  }
}
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
  display: none;
  .dialog-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    background: #ffffff;
    border-radius: 5px;
    overflow: hidden;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img {
      width: 100px;
    }
    h4 {
      margin: 20px 0;
      font-size: 22px;
      span {
        color: #ff0000;
      }
    }
    button {
      width: 100px;
      height: 40px;
      background: #a5cb50;
    }
  }
  &.show {
    display: block;
  }
}