<script setup>
import { useUserStore } from '../stores/user.js'
const userInfo = useUserStore()


</script>


<template>
  <div class="about">
    <h1>This is an about page</h1>
    <p>姓名: {{ userInfo.username }}</p>
    <p>年龄: {{ userInfo.age }}</p>
    <p>性别: {{ userInfo.sex }}</p>
  </div>
</template>

<style>

</style>
