<script setup>
import { useUserStore } from '@/stores/user'
import { useBannerStore } from '@/stores/banner'

// 获取store数据
const userInfo = useUserStore()

const bannerStore = useBannerStore()
bannerStore.getBanner()


const changeName = () => {
  // 修改store中的数据
  userInfo.username = Math.random()
}
</script>

<template>
  <h1>首页</h1>
  <button @click="changeName">修改姓名</button>
  <p>姓名: {{ userInfo.username }} <input type="text" v-model="userInfo.username"></p>
  <p>年龄: {{ userInfo.age }} 
    <button @click="userInfo.changeAge(-1)">-</button>
    <button @click="userInfo.age++">+</button>
  </p>
  <p>性别: {{ userInfo.sex }}  <input type="text" v-model="userInfo.sex"></p>
  <p>{{ userInfo.info }}</p>
  <hr />
  {{ bannerStore.banner }}
</template>
