/* components/dialog/dialog.wxss */
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  min-height: 600rpx;
  background: #ffffff;
  border-radius: 16rpx;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
}
.header, .footer {
  height: 80rpx;
  background: #cccccc;
}
.center {
  flex: 1;
}