* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
li {
  list-style-type: none;
}
img {
  /* 基线对齐方式 */
  vertical-align: middle;
}
@keyframes rotateAni {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
.bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.bg .img {
  width: 100%;
  height: 100%;
  background: url(../img/0.jpg) no-repeat center;
  background-size: cover;
  filter: blur(22px);
}
.bg .mask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}


.app {
  position: relative;
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
header {
  height: 72px;
  text-align: center;
  padding: 10px 0;
}
.center-img {
  flex: 1;
  position: relative;
}
.circle {
  width: 70vw;
  height: 70vw;
  border-radius: 50%;
  overflow: hidden;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background: rgba(255, 255, 255, 0.5);
  animation: rotateAni 10s linear infinite;
  animation-play-state: paused;
}
.circle p {
  width: 100%;
  height: 100%;
  background: url(../img/0.jpg) no-repeat center;
  background-size: cover;
  border-radius: 50%;
}

.control {
  height: 100px;
}
.control-top {
  height: 30px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  position: relative;
}
.volume-size {
  position: absolute;
  left: 25px;
  bottom: 30px;
  width: 20px;
  height: 50px;
  background: rgba(255, 255, 255, 0.5);
}
.volume-size i {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 0%;
  background: #ffffff;
}
.control-top .progress {
  flex: 1;
  display: flex;
  align-items: center;
}
.control-top .progress input {
  height: 4px;
  flex: 1;
  margin: 0 5px;
}
.control-top .progress .time {
  width: 36px;
  text-align: center;
  font-size: 12px;
}
.control-top span {
  font-size: 12px;
  line-height: 30px;
  width: 50px;
  text-align: center;
}
.menu {
  display: flex;
  padding: 16px 20px;
}
.btns {
  flex: 1;
  padding: 0 30px;
  display: flex;
  justify-content: space-around;
}
.menu .iconfont {
  font-size: 34px;
}
.play-list {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  opacity: 0;
  transition: opacity 0.3s linear;
}
.play-list ul {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  transition: transform 0.3s linear;
}
.play-list ul li {
  height: 40px;
  line-height: 40px;
  border-bottom: 1px dashed;
  padding: 0 20px;
}
.play-list ul li:last-of-type {
  border-bottom: none;
}
.play-list ul li.active {
  background: tomato;
  color: #ffffff;
}