<template>
  <div id="app">
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <!-- 使用组件 -->
    <!-- <Counter title="我是第一个" :n="1" />
    <Counter title="我是第二个" :n="2" /> -->
    <Counter
      :title="title"
      :n="3"
      @change="changeTitle"
    />
  </div>
</template>

<script>
// 引入组件
import Counter from './components/Counter.vue'

export default {
  name: 'App',
  // 组件的data必须是一个函数，每次调用组件都会执行data函数创建新对象，防止组件复用时数据互相影响
  data() {
    return {
      title: '标题'
    }
  },
  methods: {
    changeTitle(newTitle) {
      console.log('执行changeTitle', newTitle)
      // newTitle: 子组件传过来的值
      this.title = newTitle
    }
  },
  computed: {},
  watch: {},
  created() {},
  // 注册组件
  components: {
    Counter
  }
}

// function data() {
//   return {
//     name: '小明',
//     age: 20
//   }
// }

// const obj = data()
// const obj1 = data()
// const obj2 = data()

// obj1.name = '小红红'

// console.log(obj)
// console.log(obj1)
// console.log(obj2)


// function sum(a, b) {
//   return a + b
// }
// console.log(sum(1, 2))
// console.log(sum(3, 4))





</script>

<style lang="scss">
h1 {
  color: red;
}
</style>
