<template>
  <div class="counter">
    <h2>{{ title }}</h2>
    <!-- 不能在子组件内改变父组件的变量，data中的变量只能在定义的组件中修改 -->
    <!-- <button @click="title = 123">修改标题</button> -->

    <!-- 子组件想要修改父组件传过来的变量，可以通过 $emit 调用自定义事件修改 -->
    <!-- <button @click="$emit('change', 'ABC')">修改标题</button> -->
    <button @click="btnClick">修改标题</button> 
    <hr />
    <button @click="sub">- {{ n }}</button>
    {{ num }}
    <button @click="add">+ {{ n }}</button>
  </div>
</template>

<script>
export default {
  // 组件的参数
  props: ['title', 'n'],
  data() {
    return {
      num: 0
    }
  },
  methods: {
    add() {
      this.num += this.n
    },
    sub() {
      this.num -= this.n
    },
    btnClick() {
      // 调用自定义事件
      this.$emit('change', 'ABC')
    }
  }
}
</script>

<style lang="scss" scoped>
// scoped: 样式隔离，样式只在当前组件内生效，不影响全局样式，
// 给组件内的标签添加自定义属性，通过属性选择器定义样式实现样式隔离功能
.counter {
  border: 1px solid;
  padding: 10px;
}
button {
  padding: 0 10px;
  color: red;
}
</style>