<template>
  <div class="page">
    <el-row :gutter="20">
      <el-col :span="24">
        <div class="box">aaaa</div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="18">
        <div class="box charts-wrap">
          <el-tabs v-model="activeName" @tab-click="handleClick">
            <el-tab-pane label="用户管理" name="first"></el-tab-pane>
            <el-tab-pane label="配置管理" name="second"></el-tab-pane>
            <el-tab-pane label="测试tab" name="third">
              <ul>
                <li>1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
              </ul>
            </el-tab-pane>
          </el-tabs>
          <div
            class="charts"
            ref="charts"
            v-show="activeName !== 'third'"
          ></div>
        </div>
      </el-col>
      <el-col :span="6"><div class="box"></div></el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8">
        <div class="box circle">
          <el-progress
            type="circle"
            :stroke-width="10"
            :percentage="50"
            color="tomato"
          ></el-progress>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="box circle">
          <el-progress
            type="circle"
            :stroke-width="10"
            :percentage="25"
            color="skyblue"
          ></el-progress>
        </div>
      </el-col>
      <el-col :span="8">
        <div class="box circle">
          <el-progress
            type="circle"
            :stroke-width="10"
            :percentage="100"
            color="yellowgreen"
          ></el-progress>
        </div>
      </el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="14"><div class="box"></div></el-col>
      <el-col :span="10"><div class="box"></div></el-col>
    </el-row>
    <el-row :gutter="20">
      <el-col :span="8"><div class="box"></div></el-col>
      <el-col :span="8" :offset="8"><div class="box"></div></el-col>
    </el-row>
  </div>
</template>

<script>
import * as echarts from "echarts";

export default {
  data() {
    return {
      activeName: "first",
    };
  },
  methods: {
    handleClick(tab) {
      console.log(tab.name, tab.index);
    },
    renderCharts() {
      if (this.activeName === "first") {
        // 绘制图表
        this.myChart.setOption(
          {
            color: ["#80FFA5", "#00DDFF", "#37A2FF", "#FF0087", "#FFBF00"],
            title: {
              text: "Gradient Stacked Area Chart",
            },
            tooltip: {
              trigger: "axis",
              axisPointer: {
                type: "cross",
                label: {
                  backgroundColor: "#6a7985",
                },
              },
            },
            legend: {
              data: ["Line 1", "Line 2", "Line 3", "Line 4", "Line 5"],
            },
            toolbox: {
              feature: {
                saveAsImage: {},
              },
            },
            grid: {
              left: "3%",
              right: "4%",
              bottom: "3%",
              containLabel: true,
            },
            xAxis: [
              {
                type: "category",
                boundaryGap: false,
                data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
              },
            ],
            yAxis: [
              {
                type: "value",
              },
            ],
            series: [
              {
                name: "Line 1",
                type: "line",
                stack: "Total",
                smooth: true,
                lineStyle: {
                  width: 0,
                },
                showSymbol: false,
                areaStyle: {
                  opacity: 0.8,
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    {
                      offset: 0,
                      color: "rgb(128, 255, 165)",
                    },
                    {
                      offset: 1,
                      color: "rgb(1, 191, 236)",
                    },
                  ]),
                },
                emphasis: {
                  focus: "series",
                },
                data: [140, 232, 101, 264, 90, 340, 250],
              },
              {
                name: "Line 2",
                type: "line",
                stack: "Total",
                smooth: true,
                lineStyle: {
                  width: 0,
                },
                showSymbol: false,
                areaStyle: {
                  opacity: 0.8,
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    {
                      offset: 0,
                      color: "rgb(0, 221, 255)",
                    },
                    {
                      offset: 1,
                      color: "rgb(77, 119, 255)",
                    },
                  ]),
                },
                emphasis: {
                  focus: "series",
                },
                data: [120, 282, 111, 234, 220, 340, 310],
              },
              {
                name: "Line 3",
                type: "line",
                stack: "Total",
                smooth: true,
                lineStyle: {
                  width: 0,
                },
                showSymbol: false,
                areaStyle: {
                  opacity: 0.8,
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    {
                      offset: 0,
                      color: "rgb(55, 162, 255)",
                    },
                    {
                      offset: 1,
                      color: "rgb(116, 21, 219)",
                    },
                  ]),
                },
                emphasis: {
                  focus: "series",
                },
                data: [320, 132, 201, 334, 190, 130, 220],
              },
              {
                name: "Line 4",
                type: "line",
                stack: "Total",
                smooth: true,
                lineStyle: {
                  width: 0,
                },
                showSymbol: false,
                areaStyle: {
                  opacity: 0.8,
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    {
                      offset: 0,
                      color: "rgb(255, 0, 135)",
                    },
                    {
                      offset: 1,
                      color: "rgb(135, 0, 157)",
                    },
                  ]),
                },
                emphasis: {
                  focus: "series",
                },
                data: [220, 402, 231, 134, 190, 230, 120],
              },
              {
                name: "Line 5",
                type: "line",
                stack: "Total",
                smooth: true,
                lineStyle: {
                  width: 0,
                },
                showSymbol: false,
                label: {
                  show: true,
                  position: "top",
                },
                areaStyle: {
                  opacity: 0.8,
                  color: new echarts.graphic.LinearGradient(0, 0, 0, 1, [
                    {
                      offset: 0,
                      color: "rgb(255, 191, 0)",
                    },
                    {
                      offset: 1,
                      color: "rgb(224, 62, 76)",
                    },
                  ]),
                },
                emphasis: {
                  focus: "series",
                },
                data: [220, 302, 181, 234, 210, 290, 150],
              },
            ],
          },
          true
        );
      } else {
        this.myChart.setOption(
          {
            xAxis: {
              type: "category",
              data: ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"],
            },
            yAxis: {
              type: "value",
            },
            series: [
              {
                data: [820, 932, 901, 934, 1290, 1330, 1320],
                type: "line",
                smooth: true,
              },
            ],
          },
          true
        );
      }
    },
  },
  watch: {
    activeName() {
      this.renderCharts();
    },
  },
  mounted() {
    // 基于准备好的dom，初始化echarts实例
    this.myChart = echarts.init(this.$refs.charts);
    this.renderCharts();
  },
};
</script>

<style lang="scss" scoped>
.page {
  padding: 20px;
  overflow: auto;
  height: 100%;
}
.el-row {
  margin-bottom: 20px;
}
.box {
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
}
.circle {
  display: flex;
  justify-content: center;
}
.charts-wrap {
  height: 400px;
}
.charts {
  height: 300px;
}
</style>