.footer {
  max-height: 300px;
  box-shadow: 0px 0px 17px 4px #dddddd;
  overflow: auto;
  h3 {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  ul {
    display: flex;
    flex-wrap: wrap;
    li {
      padding: 5px 15px;
      border: 1px solid #dddddd;
      list-style-type: none;
      margin-left: 10px;
      margin-bottom: 10px;
      position: relative;
      span {
        position: absolute;
        top: -10px;
        right: -10px;
        width: 20px;
        height: 20px;
        font-size: 12px;
        text-align: center;
        line-height: 20px;
        color: #ffffff;
        background: #999999;
        border-radius: 50%;
      }
    }
  }
}