/* components/user/user.wxss */
@import '../../styles/common.scss';

.userInfo {
  display: flex;
  justify-content: space-between;
  padding: rpx(10) rpx(20);
  align-items: center;
  image {
    width: rpx(50);
    height: rpx(50);
  }
}
.money {
  border: 1px solid #333333;
  border-radius: rpx(5);
  width: rpx(60);
  text-align: center;
}