/* pages/home/home.wxss */
.title {
  background: red;
  color: #ffffff;
  line-height: 40px;
  text-align: center;
  font-weight: bold;
}
.list-item {
  line-height: 40px;
  border-bottom: 1px dashed;
}
.num1 {
  background: red;
}
.num2 {
  background: green;
}
.num3 {
  background: yellow;
}
.inp {
  background: #dddddd;
}