ul {
  border: 1px solid;
  background: url(../assets/img2.jpg);
  li {
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px dashed;
    color: red;
  }
}
.swiper {
  height: 300px;
  background: tomato;
}