<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div class="app">
    <!-- 声明式渲染，只能写表达式，不能写语句 -->
    <h1>{{ title }} 123</h1>
    <!-- <p>{{ title.split('') }}</p> -->

    <!-- 渲染文本 -->
    <h2 v-text="text">123</h2>
    <!-- innerHTML -->
    <h2 v-html="text">123</h2>
  </div>

  <script>
    const vm = new Vue({
      el: '.app', // 挂载的元素，在此元素内可以使用vue的变量
      data: { // 定义 vue 变量，会自动添加到 vue 实例对象上
        title: '开始学习Vue',
        text: '<i style="color: red">开始学习Vue</i>'
      }
    })
    console.log(vm)
  </script>
</body>
</html>