<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
* {
  margin: 0;
  padding: 0;
}

[v-cloak] {
  display: none;
}
</style>
<body>
  <!-- v-cloak：编译之前隐藏元素 -->
  <div class="app" v-cloak>
    <!-- 跳过编译 -->
    <span v-pre>{{ abc }}</span>
    <!-- 只编译一次 -->
    <span v-once>{{ title }}</span>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        title: '标题'
      },
      methods: {
      }
    })

  </script>
</body>
</html>