<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
* {
  margin: 0;
  padding: 0;
}
</style>
<body>
  <div class="app">
    <button @click="addFn">add</button>
    <button @click="editFn">修改数组第二条</button>
    <ul>
      <li v-for="item in arr">{{ item }}</li>
    </ul>
    <hr />
    <button @click="addObj">add</button>
    <button @click="editObj">修改数组第二条</button>
    <ul>
      <li v-for="item in arrObj">{{ item }}</li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        arr: [],
        arrObj: []
      },
      methods: {
        addFn() {
          this.arr.push(Math.random())
        },
        editFn() {
          // 通过下标修改数据，页面不会自动更新
          // this.arr[1] = 'ABC'
          // this.arr.length = 0
          
          // 调用数组的方法或者 $set 修改数组
          this.$set(this.arr, 1, 'ABC')
          // this.arr.splice(1, 1, 'ABC')
          console.log(this.arr)
        },
        addObj() {
          this.arrObj.push({
            text: Math.random()
          })
        },
        editObj() {
          this.arrObj[1].text = 'ABC'
        }
      }
    })

  </script>
</body>
</html>