<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
* {
  margin: 0;
  padding: 0;
}
</style>
<body>
  <div class="app">
    <div>{{ obj }}</div>
    <button @click="change">修改name</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        obj: { name: '小明', age: 22 }
      },
      methods: {
        change() {
          // 修改原本就存在属性可以更新页面
          // this.obj.name = Math.random()

          // 新增属性，不会自动更新页面
          // this.obj.sex = Math.random()

          // 给整个对象重新赋值，可以更新页面
          // this.obj = { ...this.obj, sex: Math.random() }
          this.$set(this.obj, 'sex', Math.random())

          console.log(this.obj)
        }
      }
    })

  </script>
</body>
</html>