<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div class="app">
    <button @click="add">add</button>
    <ul ref="list">
      <li v-for="item in arr">{{ item }}</li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        arr: []
      },
      methods: {
        add() {
          // 数据更新是同步的
          this.arr.push(Math.random())

          // 页面更新是异步的，无法在修改完数据后立即获取到最新的dom元素
          // console.log(this.$refs.list.children)

          this.$nextTick(() => {
            // 等待页面更新完成之后执行
            console.log(this.$refs.list.children)
          })
        }
      }
    })

  </script>
</body>
</html>