<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>

<body>
  <div class="app">
    <button @click="add">add</button>
    <button @click="remove">删除第一个</button>
    <!-- vue更新时为了减少更新，使用就地复用的策略, 为了让列表更准确的更新，需要添加一个唯一值当key -->
    <ul>
      <li v-for="(item, index) in arr" :key="item.id">
        <input type="checkbox">
        {{ item }}
      </li>
    </ul>
    <hr />
    <button @click="num--">-</button>
    <span>{{ num }}</span>
    <button @click="num++">+</button>
  </div>

  <script>
    // 下标当key
    // 更新前的key： 0 1 2 3
    // 更新后的key： 0 1 2

    // 唯一值当key
    // 更新前的key： a b c d
    // 更新后的key： b c d


    const vm = new Vue({
      el: '.app',
      data: {
        arr: [],
        num: 0
      },
      methods: {
        add() {
          this.arr.push({
            id: Date.now(),
            text: Math.random()
          })
        },
        remove() {
          this.arr.shift()
        }
      }
    })

  </script>
</body>
</html>