<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  .box {
    width: 100px;
    height: 100px;
    background: red;
  }
</style>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <!-- <div v-show="show" class="box"></div> -->
    <!-- <div v-show="num > 60" class="box">及格</div> -->

    <!-- <div v-if="show" class="box"></div>  -->
    <div v-if="num >= 90" class="box">真不错</div> 
    <div v-else-if="num >= 60 && num < 90" class="box">挺好的，及格了</div> 
    <div v-else class="box">继续努力吧</div> 
  </div>

  <script>
    const vm = new Vue({
      el: '.app', // 挂载的元素，在此元素内可以使用vue的变量
      data: { // 定义 vue 变量，会自动添加到 vue 实例对象上
        title: 'v-show',
        show: true,
        num: 10
      }
    })
    console.log(vm)



  </script>
</body>
</html>