<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  .box {
    width: 100px;
    height: 100px;
    background: red;
  }
  span {
    margin-right: 10px;
  }
</style>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <h2>渲染数组</h2>
    <ul>
      <li v-for="(item, index) in arr">
        <i>{{ index }} :</i>
        {{ item.toUpperCase() }}
      </li>
    </ul>

    <h2>渲染数组</h2>
    <ul>
      <li v-for="item in banners">
        <img v-bind:src="item.imageUrl" width="300"  alt="">
        <h3>{{ item.typeTitle }}</h3>
      </li>
    </ul>

    <h2>渲染对象</h2>
    <ul>
      <li v-for="(val, key, index) in obj">
        <p>属性名: {{ key }}</p>
        <p>属性值: {{ val }}</p>
        <p>下标: {{ index }}</p>
      </li>
    </ul>

    <h2>渲染字符串</h2>
    <ul>
      <li v-for="(val, index) in '我是字符串'">
        {{ index }} - {{ val }}
      </li>
    </ul>

    <h2>渲染数字</h2>
    <ul>
      <li v-for="(val, index) in 5">
        {{ index }} - {{ val }}
      </li>
    </ul>

    <h2>乘法表</h2>
    <ul>
      <li v-for="row in 9">
        <span v-for="col in row">{{ col }} * {{ row }} = {{ col * row }}</span>
      </li>
    </ul>

  </div>

  <script>
    const vm = new Vue({
      el: '.app', // 挂载的元素，在此元素内可以使用vue的变量
      data: { // 定义 vue 变量，会自动添加到 vue 实例对象上
        title: 'v-for',
        arr: ['a', 'b', 'c', 'd', 'e', 'f'],
        banners: [{"imageUrl":"http://p1.music.126.net/U9UurSReV77STir1-Ei0QQ==/109951169401557693.jpg","targetId":188096041,"adid":null,"targetType":10,"titleColor":"red","typeTitle":"新碟首发","url":null,"exclusive":false,"monitorImpress":null,"monitorClick":null,"monitorType":null,"monitorImpressList":null,"monitorClickList":null,"monitorBlackList":null,"extMonitor":null,"extMonitorInfo":null,"adSource":null,"adLocation":null,"adDispatchJson":null,"encodeId":"188096041","program":null,"event":null,"video":null,"song":null,"scm":"1.music-homepage.homepage_banner_force.banner.8809062.1813797435.null","bannerBizType":"force_banner"},{"imageUrl":"http://p1.music.126.net/s8UovVRpqH9PTHHHpZIjYg==/109951169401559737.jpg","targetId":186779985,"adid":null,"targetType":10,"titleColor":"red","typeTitle":"新碟首发","url":null,"exclusive":false,"monitorImpress":null,"monitorClick":null,"monitorType":null,"monitorImpressList":null,"monitorClickList":null,"monitorBlackList":null,"extMonitor":null,"extMonitorInfo":null,"adSource":null,"adLocation":null,"adDispatchJson":null,"encodeId":"186779985","program":null,"event":null,"video":null,"song":null,"scm":"1.music-homepage.homepage_banner_force.banner.8809064.1813711692.null","bannerBizType":"force_banner"},{"imageUrl":"http://p1.music.126.net/bfddEfNwxmQxQZKwD2htEQ==/109951169401557324.jpg","targetId":188188926,"adid":null,"targetType":10,"titleColor":"red","typeTitle":"新碟首发","url":null,"exclusive":false,"monitorImpress":null,"monitorClick":null,"monitorType":null,"monitorImpressList":null,"monitorClickList":null,"monitorBlackList":null,"extMonitor":null,"extMonitorInfo":null,"adSource":null,"adLocation":null,"adDispatchJson":null,"encodeId":"188188926","program":null,"event":null,"video":null,"song":null,"scm":"1.music-homepage.homepage_banner_force.banner.8809065.1813767430.null","bannerBizType":"force_banner"},{"imageUrl":"http://p1.music.126.net/Bb7VjQgYIOG_3ZGSN3qjug==/109951169401571014.jpg","targetId":2128204707,"adid":null,"targetType":1,"titleColor":"red","typeTitle":"新歌首发","url":null,"exclusive":false,"monitorImpress":null,"monitorClick":null,"monitorType":null,"monitorImpressList":null,"monitorClickList":null,"monitorBlackList":null,"extMonitor":null,"extMonitorInfo":null,"adSource":null,"adLocation":null,"adDispatchJson":null,"encodeId":"2128204707","program":null,"event":null,"video":null,"song":null,"scm":"1.music-homepage.homepage_banner_force.banner.8809067.1813737767.null","bannerBizType":"force_banner"},{"imageUrl":"http://p1.music.126.net/h9eZADm_KvDPhItI3Hggeg==/109951169401570116.jpg","targetId":14698876,"adid":null,"targetType":1004,"titleColor":"red","typeTitle":"独家策划","url":null,"exclusive":false,"monitorImpress":null,"monitorClick":null,"monitorType":null,"monitorImpressList":null,"monitorClickList":null,"monitorBlackList":null,"extMonitor":null,"extMonitorInfo":null,"adSource":null,"adLocation":null,"adDispatchJson":null,"encodeId":"14698876","program":null,"event":null,"video":null,"song":null,"scm":"1.music-homepage.homepage_banner_force.banner.8809068.1813678181.null","bannerBizType":"force_banner"},{"imageUrl":"http://p1.music.126.net/K_Y-GtA-WMRArktRA5gnpw==/109951169401566822.jpg","targetId":187838837,"adid":null,"targetType":10,"titleColor":"red","typeTitle":"新碟首发","url":null,"exclusive":false,"monitorImpress":null,"monitorClick":null,"monitorType":null,"monitorImpressList":null,"monitorClickList":null,"monitorBlackList":null,"extMonitor":null,"extMonitorInfo":null,"adSource":null,"adLocation":null,"adDispatchJson":null,"encodeId":"187838837","program":null,"event":null,"video":null,"song":null,"scm":"1.music-homepage.homepage_banner_force.banner.8809069.1813681931.null","bannerBizType":"force_banner"},{"imageUrl":"http://p1.music.126.net/4yif9YAhpc4WIL11uNEbwQ==/109951169401571268.jpg","targetId":2132225636,"adid":null,"targetType":1,"titleColor":"red","typeTitle":"新歌首发","url":null,"exclusive":false,"monitorImpress":null,"monitorClick":null,"monitorType":null,"monitorImpressList":null,"monitorClickList":null,"monitorBlackList":null,"extMonitor":null,"extMonitorInfo":null,"adSource":null,"adLocation":null,"adDispatchJson":null,"encodeId":"2132225636","program":null,"event":null,"video":null,"song":null,"scm":"1.music-homepage.homepage_banner_force.banner.8809070.1813739591.null","bannerBizType":"force_banner"}],
        obj: {
          name: '小明',
          age: 20,
          sex: '男',
          hobby: ['唱歌', '跳舞', 'rap', '蓝球']
        }
      }
    })
    console.log(vm)



  </script>
</body>
</html>