<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  .box {
    width: 100px;
    height: 100px;
    background: red;
  }
  span {
    margin-right: 10px;
  }
</style>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <!-- 使用事件对象 -->
    <!-- <input type="text" @input="changeInp"> -->
    <!-- <input type="text" @input="e => title = e.target.value"> -->
    <input type="text" @input="title = $event.target.value">
    <hr />
    <!-- 绑定事件 -->
    <button @click="num--">-</button>
    {{ num }}
    <button v-on:click="add">+</button>
    <button @click="changeNum(3, $event)">+3</button>
    <hr />

  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        title: 'v-on',
        num: 0
      },
      methods: {
        // 存方法，会自动挂载到实例对象上
        // 为了确保函数中的this指向正确，不要使用箭头函数
        add(e) {
          console.log('执行 add', this.num)
          console.log('事件对象', e)
          this.num++
        },
        changeNum(n, e) {
          this.num += n
          console.log(e.target)
        },
        changeInp(e) {
          console.log(e.target.value)
          this.title = e.target.value
        }
      }
    })
    console.log(vm)



  </script>
</body>
</html>