<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
  .box {
    width: 100px;
    height: 100px;
    background: red;
  }
  span {
    margin-right: 10px;
  }
</style>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <img v-bind:src="img" alt="">
    <!-- v-bind 简写 : -->
    <a :href="url">跳转</a>
    <button :disabled="!!img" @click="setImg">给img赋值</button>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        title: 'v-bind: 让标签上的属性可以使用js变量',
        url: 'https://www.baidu.com',
        img: '',
        img1: 'http://p1.music.126.net/U9UurSReV77STir1-Ei0QQ==/109951169401557693.jpg',
        img2: 'http://p1.music.126.net/s8UovVRpqH9PTHHHpZIjYg==/109951169401559737.jpg'
      },
      methods: {
        setImg() {
          this.img = Math.random() < 0.5 ? this.img1 : this.img2
        }
      }
    })
    console.log(vm)



  </script>
</body>
</html>