<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
.item {
  height: 50px;
  border: 1px solid;
  line-height: 50px;
}
.red {
  background: red;
}
.green {
  background: green;
}
.orange {
  background: orange;
}
</style>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <button @click="num--">-</button>
    <button @click="num++">+</button>
    <!-- <div :class="['item', num < 0 ? 'red' : 'green']">num: {{ num }}</div> -->
    <!-- <div :class="['item', {
      red: num < 0,
      green: num >= 0 & num < 5,
      orange: num >= 5 & num < 10
    }]">num: {{ num }}</div> -->

    <div :style="[{ height: '100px' }, { background: 'red', fontSize: '20px' }]">num: {{ num }}</div>


  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        title: '绑定class和style',
        num: 0
      },
      methods: {

      }
    })
    console.log(vm)



  </script>
</body>
</html>