<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
* {
  margin: 0;
  padding: 0;
}
nav {
  width: 300px;
  height: 40px;
  display: flex;
  border: 1px solid;
}
nav span {
  flex: 1;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
nav .active {
  background: tomato;
}
ul {
  border: 1px solid;
  width: 300px;
  height: 300px;
}
</style>
<body>
  <div class="app">
    当前高亮下标：{{curIndex}}
    <nav>
      <span v-for="(item, index) in tab" :class="{ active: curIndex === index }" @click="curIndex = index">{{ item.title }} {{ index }}</span>
    </nav>
    <ul>
      <li v-for="item in tab[curIndex].songs">{{ item }}</li>
    </ul>
  </div>
  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        curIndex: 0, // 当前高亮下标
        tab: [
          {
            title: '凤凰传奇',
            songs: ['最炫民族风', '奢香夫人', '绿旋风', '月亮之上', '自由飞翔']
          },
          {
            title: '周杰伦',
            songs: ['稻香', '反方向的钟', '霍元甲', '青花瓷', '双节棍']
          },
          {
            title: '许嵩',
            songs: ['多余的解释', '幻听', '断桥残雪', '素颜', '想象之中']
          }
        ]
      }
    })



  </script>
</body>
</html>