<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<style>
* {
  margin: 0;
  padding: 0;
}
.box {
  padding: 100px;
}
.red {
  background: red;
}
.green {
  background: green;
}
.blue {
  background: blue;
}
</style>
<body>
  <div class="app">
    <p>姓名: <input type="text" v-model.trim.lazy="form.name"></p>
    <p>年龄: <input type="text" v-model.number="form.age"></p>
    <p>性别: 
      <input type="radio" name="sex" id="men" value="nan" v-model="form.sex"><label for="men">男</label>
      <input type="radio" name="sex" id="women" value="nv" v-model="form.sex"><label for="women">女</label>
    </p>
    <p>地址: 
      <select v-model="form.address">
        <option value="beijing">北京</option>
        <option value="shanghai">上海</option>
        <option value="guangzhou">广州</option>
        <option value="shenzhen">深圳</option>
      </select>
    </p>
    <!-- checkbox： 
        v-model 绑定的变量是 布尔值，获取元素的 checked 属性
        v-model 绑定的变量是 数组，获取元素的 value 属性
    -->
    <p>已婚: <input type="checkbox" v-model="form.married"></p>
    <p>爱好:
      <input type="checkbox" id="sing" value="唱歌" v-model="form.hobby"> <label for="sing">唱歌</label>
      <input type="checkbox" id="dance" value="跳舞" v-model="form.hobby"> <label for="dance">跳舞</label>
      <input type="checkbox" id="ball" value="篮球" v-model="form.hobby"> <label for="ball">篮球</label>
      <input type="checkbox" id="rap" value="rap" v-model="form.hobby"> <label for="rap">rap</label>
    </p>
    <p>备注：<textarea v-model="form.remark" cols="30" rows="10"></textarea></p>
    <button @click="submit">提交</button>
    <hr />
    {{ form }}
    <hr />

    <input type="text" :value="test" @input="test = $event.target.value">
    {{test}}
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        test: '我是默认值',
        form: {
          name: '小明',
          age: '',
          sex: '',
          address: '',
          married: true,
          hobby: [],
          remark: ''
        }
      },
      methods: {
        submit() {
          console.log(this.form)
        }
      }
    })

  </script>
</body>
</html>