<template>
  <div class="app">
    <Header :info="sellerInfo" />
    <nav>
      <p
        v-for="(item, index) in tab"
        :key="item.name"
        :class="{ active: curIndex === index}"
        @click="curIndex = index"
      >{{ item.title }}</p>
      <i :style="{ transform: `translateX(${curIndex * 100}%)` }"></i>
    </nav>
    <main>
      <keep-alive>
        <component :is="tab[curIndex].name"></component>
      </keep-alive>
    </main>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Goods from './components/Goods.vue'
import Comment from './components/Comment.vue'
import Shop from './components/Shop.vue'
import axios from 'axios'

export default {
  components: {
    Header,
    Goods,
    Comment,
    Shop
  },
  data () {
    return {
      sellerInfo: {}, // 商家信息
      curIndex: 1, // 当前展示的组件下标
      tab: [
        { name: 'Goods', title: '商品' },
        { name: 'Comment', title: '评论' },
        { name: 'Shop', title: '商家' }
      ]
    }
  },
  methods: {
    async getSeller () {
      const res = await axios.get('/sell/api/seller')
      this.sellerInfo = res.data.data
    }
  },
  created () {
    this.getSeller()
  }
}
</script>

<style lang="scss" scoped>
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}
nav {
  height: 36px;
  display: flex;
  border-bottom: 1PX solid rgba(7,17,27,.1);
  position: relative;
  p {
    flex: 1;
    text-align: center;
    line-height: 36px;
    color: #666;
  }
  .active {
    color: tomato;
  }
  i {
    position: absolute;
    bottom: -1px;
    left: 0;
    width: calc(100% / 3);
    height: 2px;
    background: tomato;
    transition: transform 0.3s linear;
  }
}
main {
  flex: 1;
  overflow: hidden;
}
// 样式穿透：父组件修改子组件内的样式
::v-deep .tip {
  background: red;
}
</style>
