@import '../scss/common.scss';
img {
  width: 200px;
}
button {
  width: 100%;
  height: 20px;
  background: green;
}
.lyric {
  height: 280px;
  background: tomato;
  overflow: auto;
  li {
    text-align: center;
    line-height: 40px;
    &.active {
      background: orange;
      color: #ffffff;
    }
  }
}