<script setup>
import axios from 'axios'
import { useRoute } from 'vue-router'
import { ref } from 'vue'

const route = useRoute()

console.log('获取动态路由参数', route.params)
console.log('获取query参数', route.query)

const filmInfo = ref({})

const getDetail = async () => {
  const res = await axios.get('https://m.maizuo.com/gateway', {
    params: {
      filmId: route.params.id
    },
    headers: {
      'X-Client-Info': `{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033"}`,
      'X-Host': 'mall.film-ticket.film.info'
    }
  })
  filmInfo.value = res.data.data.film
}

getDetail()


</script>

<template>
  <h1>详情页面</h1>
  <h2>{{ filmInfo.name }}</h2>
  <img :src="filmInfo.poster" width="150" alt="">
  {{ filmInfo }}
</template>

<style lang='scss' scoped>

</style>
