<template>
  <div class="goods">
    <h3>{{ id }}</h3>
    <h3>{{ title }}</h3>
    <p>价格：¥{{ price }}</p>
    <button>-</button>
    {{ count }}
    <button>+</button>
  </div>
</template>

<script>
export default {
  props: ['title', 'price', 'id', 'count']
}
</script>

<style lang="scss" scoped>
.goods {
  border: 1px solid;
  padding: 10px;
}
</style>