<template>
  <header>
    <p>商品名称: <input type="text" v-model="form.name"></p>
    <p>商品价格: <input type="number" v-model.number="form.price"></p>
    <button @click="add">添加</button>
  </header>
</template>

<script>
export default {
  data() {
    return {
      form: {
        name: '',
        price: ''
      }
    }
  },
  methods: {
    add() {
      // 调用父组件的函数
      this.$emit('add', {
        id: Date.now(),
        ...this.form
      })
      this.form = { name: '', price: ''}
    }
  }
}
</script>

<style>

</style>
