<template>
  <!-- 组件必须有有一个根元素 -->
  <div id="app">
    <h1>{{ title }}</h1>
    <button @click="num++">{{ num }}</button>
    <!-- 使用组件 -->
    <Counter />
    <Counter></Counter>
    <Counter />
    <Counter />
    <Counter />
    <Counter />
  </div>
</template>

<script>
// 引入组件
import Counter from './components/Counter.vue'

export default {
  name: 'App',
  data() {
    return {
      title: '标题',
      num: 0
    }
  },
  methods: {},
  computed: {},
  watch: {},
  created() {},
  // 注册组件
  components: {
    Counter
  }
}
</script>

<style lang="scss">
h1 {
  color: red;
}
</style>
