<template>
  <div class="adcive">
    <div class="tab-nav">
      <p v-for="(item, index) in navlist" :key="item.title" :class="{ active: curIndex === index }" @click="curIndex = index">
        <b>{{ item.children.length }}</b>
        <span>{{ item.title }}</span>
      </p>
    </div>
    <div class="tab-content">
      <h3 :style="{ color: navlist[curIndex].color }">{{ navlist[curIndex].desc }}</h3>
      <div class="card" v-for="item in navlist[curIndex].children" :key="item.name">
        <img :src="item.imgUrl" alt="">
        <h4>{{ item.name }}</h4>
        <p>升糖指数: {{ item.glycemicIndex }}</p>
        <p>{{ item.content }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import { mapState } from 'vuex'
export default {
  data() {
    return {
      curIndex: 0,
      navlist: [
        {
          title: '建议少吃',
          desc: '以下食物升糖指数偏高，建议少吃',
          color: 'red',
          min: 60,
          max: 100,
          children: []
        },
        {
          title: '适量食用',
          desc: '以下食物升糖指数适中，建议适量食用',
          color: 'orange',
          min: 20,
          max: 60,
          children: []
        },
        {
          title: '放心食用',
          desc: '以下食物升糖指数偏低，可以放心食用',
          color: 'green',
          min: 0,
          max: 20,
          children: []
        }
      ]
    }
  },
  computed: {
    ...mapState(['selectedList'])
  },
  created() {
    this.selectedList.forEach(item => {
      // 根据每一项事物的 glycemicIndex 去navlist中查找对应的范围下标
      const index = this.navlist.findIndex(v => item.glycemicIndex >= v.min && item.glycemicIndex < v.max)
      this.navlist[index].children.push(item)
    })
  }
}
</script>

<style lang="scss" scoped>
.adcive {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.tab-nav {
  height: 100px;
  display: flex;
  p {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    &.active {
      color: red;
    }
  }
}
.tab-content {
  background: #f6f6f6;
  flex: 1;
  overflow: auto;
  padding: 0 15px;
  h3 {
    text-align: center;
    line-height: 40px;
  }
}
.card {
  margin-bottom: 20px;
  background: #ffffff;
  border-radius: 10px;
  padding: 15px;
}
</style>