<template>
  <div class="home">
    <div class="list-wrap">
      <div class="menu">
        <p
          v-for="(item, index) in list"
          :key="item.name"
          :class="{ active: curIndex === index }"
          @click="curIndex = index"
        >{{ item.name }}</p>
      </div>
      <div class="content">
        <div class="food" :class="{ active: item.checked }" v-for="item in curRight" :key="item.name" @click="changeSelected(item.name)">
          <div class="img">
            <img :src="item.imgUrl" alt="">
          </div>
          <p>{{ item.name }}</p>
        </div>
      </div>
    </div>
    <Selected v-if="selectedList.length > 0" />
  </div>
</template>

<script>
import Selected from '../components/Selected.vue'
// import axios from 'axios'
import { mapState, mapMutations, mapActions } from 'vuex'
export default {
  data () {
    return {
      curIndex: 0
    }
  },
  computed: {
    ...mapState(['list', 'selectedList']),
    curRight() {
      return this.list[this.curIndex]?.list || []
    }
  },
  methods: {
    ...mapMutations(['setList', 'changeSelected']),
    ...mapActions(['getDataApi'])
  },
  created() {
    if (this.list.length === 0) {
      // 调用 store 中的 actions 函数
      this.getDataApi()
      // this.$store.dispatch('getDataApi')
    }
    // axios.get('/exam_api/food').then(res => {
    //   this.setList(res.data.value)
    // })
  },
  components: {
    Selected
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
}
.list-wrap {
  flex: 1;
  overflow: hidden;
  display: flex;
}
.menu {
  width: 1rem;
  flex-shrink: 0;
  background: #efefef;
  p {
    line-height: .4rem;
    text-align: center;
    &.active {
      background: #ffffff;
      font-weight: bold;
    }
  }
}
.content {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  display: flex;
  flex-wrap: wrap;
  padding: .16rem .22rem;
}
.food {
  width: .63rem;
  margin-right: .2rem;
  &.active {
    img {
      border: 1px solid tomato;
    }
  }
  &:nth-child(3n) {
    margin-right: 0;
  }
  p {
    text-align: center;
  }
  .img {
    margin: 0 auto;
    width: .63rem;
    height: .63rem;
  }
  img {
    width: 100%;
    height: 100%;
    vertical-align: middle;
  }
}
</style>