<script setup>
import { useRouter, useRoute } from 'vue-router'


const router = useRouter()
const route = useRoute()


const login = () => {
  // 请求登录接口获取token，存到本地
  const token = '12324kjfkjasfkahsdkfasdlkfasljdjlfasdlj'
  localStorage.setItem('token', token)
  // 获取跳转到登录页的来源地址，登录成功之后跳回去
  const redirectPath = decodeURIComponent(route.query.redirectPath || '/')
  router.push(redirectPath)
}
</script>

<template>
  <h1>登录</h1>
  <button @click="login">登录按钮</button>
</template>

<style lang='scss' scoped>

</style>
