<template>
  <div id="app">
    <Header @add="pushList" />
    <hr />
    <div class="list">
      <Goods
        v-for="item in list"
        :key="item.id"
        :title="item.name"
        :price="item.price"
        :id="item.id"
      />
    </div>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import Goods from './components/Goods.vue'

export default {
  name: 'App',
  data() {
    return {
      list: []
    }
  },
  methods: {
    pushList(item) {
      console.log('接收子组件传过来的变量', item)
      this.list.push(item)
    }
  },
  components: {
    Header,
    Goods
  }
}

</script>

<style lang="scss">
h1 {
  color: red;
}
</style>
