* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
}
.menu {
  width: 250px;
  background: #0b1d45;
  display: flex;
  text-align: center;
  color: #ffffff;
  .tab-nav {
    width: 100px;
    background: #031133;
    padding-top: 150px;
  }
  .tab-nav-item {
    line-height: 100px;
    cursor: pointer;
    &.active {
      background: #0b1d45;
      border-left: 2px solid #ffffff;
    }
  }
  .tab-content {
    flex: 1;
    h2 {
      height: 150px;
      line-height: 150px;
      border-bottom: 1px solid #ffffff;
    }
    a {
      line-height: 50px;
      text-decoration: none;
      color: #dddddd;
      display: block;
      &.active {
        background: tomato;
      }
    }
  }
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
}
header {
  height: 150px;
  border-bottom: 1px solid;
  display: flex;
  flex-direction: column;
  .top {
    flex: 1;
    border-bottom: 1px solid;
  }
  nav {
    height: 50px;
    padding-top: 10px;
    display: flex;
    a {
      padding: 0 20px;
      line-height: 40px;
      margin: 0 15px;
      color: #333333;
      text-decoration: none;
      &.active {
        background: #f0f2f5;
      }
      span {
        margin-left: 10px;
        cursor: pointer;
      }
    }
  }
}
.content {
  flex: 1;
  background: #f0f2f5;
  padding: 20px;
}
.login-form {
  width: 300px;
  margin: 200px auto;
  border: 1px solid #d9d9d9;
  border-radius: 5px;
  padding: 20px;
}