<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <button @click="add">添加</button>
    <button @click="arr.shift()">删除</button>
    <my-button></my-button>
    <my-button></my-button>
    <my-button></my-button>

    <ul>
      <li v-for="item in arr" :key="item">
        <input type="checkbox">
        {{ item }}
      </li>
    </ul>

    <my-button></my-button>

    <test></test>

  </div>

  <script>
    // 组件: 封装重复代码（排版，样式，js），方便复用和后期维护

    // 创建全局组件
    Vue.component('my-button', {
      template: `
        <div>
          <test></test>
          <button @click="num--">-</button>
          {{num}}
          <button @click="num++">+</button>
        </div>
      `,
      data() {
        return {
          num: 0
        }
      },
      methods: {},
      computed: {},
      watch: {},
      created() {},
      // 注册局部组件
      components: {
        test: {
          template: '<b>{{ title }}</b>',
          data() {
            return {
              title: '我是test组件'
            }
          }
        }
      }
    })


    new Vue({
      el: '.app',
      data: {
        arr: [],
        num1: 0,
        num2: 0,
        num3: 0
      },
      methods: {
        add() {
          this.arr.push(Math.random())
        }
      }
    })







        // {
    //   tagname: 'div',
    //   props: { class: 'app' },
    //   children: [
    //     {
    //       tagname: 'button',
    //       children: []
    //     },
    //     {
    //       tagname: 'button',
    //       children: []
    //     },
    //     {
    //       tagname: 'ul',
    //       children: [
    //         { tagname: 'li', key:'a' },
    //         { tagname: 'li', key: 'b' },
    //         { tagname: 'li', key: 'c' }
    //       ]
    //     }
    //   ]
    // }

    // {
    //   tagname: 'div',
    //   props: { class: 'app' },
    //   children: [
    //     {
    //       tagname: 'button',
    //       children: []
    //     },
    //     {
    //       tagname: 'button',
    //       children: []
    //     },
    //     {
    //       tagname: 'ul',
    //       children: [
    //         { tagname: 'li', key: 'b' },
    //         { tagname: 'li', key: 'c' }
    //       ]
    //     }
    //   ]
    // }
  </script>
</body>
</html>