<template>
  <div id="app">
    <button @click="showDialog1 = true">展示弹窗</button>
    <Dialog
      v-if="showDialog1"
      title="新增"
      okText="新增"
      :num="100"
      :test="100"
      @close="hideDialog1"
    >
      <template #header>
        <span>我是头部的插槽</span>
      </template>
      <template v-slot:default>
        <ul>
          <li>111</li>
          <li>222</li>
          <li>333</li>
        </ul>
      </template>
      <template v-slot:footer>
        <button>插槽按钮</button>
      </template>
    </Dialog>

    <button @click="showDialog2 = true">展示弹窗2</button>
    <Dialog v-if="showDialog2" @close="hideDialog2">
      <template #default="obj">
        <!-- 作用域插槽：可以在插槽中使用子组件内的变量 -->
        {{ obj }}
        <ul>
          <li v-for="item in obj.list" :key="item">{{ item }}</li>
        </ul>
      </template>
    </Dialog>
  </div>
</template>

<script>
import Dialog from './components/Dialog.vue'
export default {
  name: 'App',
  data() {
    return {
      showDialog1: false,
      showDialog2: false
    }
  },
  methods: {
    hideDialog1() {
      this.showDialog1 = false
    },
    hideDialog2() {
      this.showDialog2 = false
    }
  },
  components: {
    Dialog
  }
}
</script>

<style lang="scss" scoped>
h1 {
  color: red;
}
</style>
