<template>
  <div>
    <h1>首页</h1>
    <div>
      列表： {{list}}
      <button @click="clickfn">获取列表</button>
    </div>
    <div>
      购物车： {{cartList}}
      <button @click="add">添加购物车</button>
    </div>
    {{storeA}}
    <div>count: {{ count }} <button @click="setCount(1)">+</button></div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['list', 'cartList', 'storeA']),
    // ...mapState({
    //   count: state => state.storeA.count
    // })
    // 获取子模块内的变量
    ...mapState('storeA', ['count'])
  },
  methods: {
    ...mapMutations(['setList', 'addCart']),
    // 使用子模块内的 mutations 函数
    // ...mapMutations({
    //   setStoreACount: 'storeA/setCount'
    // }),
    ...mapMutations('storeA', ['setCount']),
    clickfn() {
      this.setList([1,2,3,4,5,6,7].sort(() => Math.random() - 0.5))
    },
    add() {
      this.addCart(this.cartList.length)
    }
  }
}
</script>

<style>

</style>