<template>
  <div>
    <h2>个人中心</h2>
    <p>姓名: {{ username }} <button @click="setUsername(Math.random())">修改</button></p>
    <p>年龄: {{ age }} <button @click="setAge(Math.random())">修改</button></p>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['username', 'age', 'sex', 'email'])
  },
  methods: {
    ...mapMutations(['setUsername', 'setAge'])
  }
}
</script>

<style>

</style>