<template>
  <div class="home">
    <main>
      <router-view />
    </main>
    <footer>
      <!-- 
        router-link 会自动添加高亮类名
        router-link-exact-active:  页面 url === to
        router-link-active: 页面 url 包含 to
      -->
      <router-link to="/home">电影</router-link>
      <router-link to="/home/cinema">影院</router-link>
      <router-link to="/home/mine">我的</router-link>
    </footer>
  </div>
</template>

<script>
export default {

}
</script>

<style lang="scss" scoped>
.home {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
  footer {
    height: 50px;
    border-top: 1px solid;
  }
}
footer {
  display: flex;
  a {
    flex: 1;
    text-align: center;
    line-height: 50px;
  }
  .router-link-active {
    background: tomato;
    color: #ffffff;
  }
}
</style>