<script setup>
import { ref } from 'vue'

// ref: 创建响应式变量
// 1. js 中使用 ref 变量需要通过 value 属性
// 2. template 中使用不需要通过value

const title = ref('标题')
const arr = ref([1, 2, 3])

const add = () => {
  console.log(title.value)
  console.log(arr.value)
  arr.value.push(arr.value.length + 1)
}

// 组件中使用普通变量无法更新页面
// let a = 100
</script>

<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <button @click="add">按钮1</button>
  <button @click="arr.push(arr.length + 1)">按钮2</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
  <!-- <p>a: {{ a }}</p>
  <button @click="a++">+</button> -->
</template>

<style scoped>

</style>
