<template>
  <div class="dialog" @click.self="$emit('close')">
    <div class="content">
      <div v-if="showClose" class="close" @click="$emit('close')">x</div>
      <div class="dialog-header">
        <!-- 具名插槽 -->
        <slot name="header">
          <h3>{{ title }} {{ num.toFixed(2) }}</h3>
        </slot>
      </div>
      <div class="dialog-center">
        <!-- 插槽：类似占位符，会把组件双标签中的内容展示到此位置 -->
        <slot :list="list" a="AAA" :b="10"></slot>
      </div>
      <div class="dialog-footer">
        <slot name="footer"></slot>
        <button>{{ cancelText }}</button>
        <button>{{ okText }}</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  // 数组方式接收props，无法校验类型，无法设置默认值
  // props: ['title', 'showClose', 'okText', 'cancelText', 'num']
  // 对象形式接收参数，可以校验类型和设置默认值
  props: {
    title: String,
    showClose: {
      type: Boolean,
      default: true
    },
    okText: {
      default: '确定',
      type: String
    },
    cancelText: {
      default: '取消',
      type: String
    },
    num: {
      type: Number,
      required: true,
      default: 0
    },
    test: {
      // 自定义校验
      validator: function (value) {
        return value === 100 || value === '100'
      }
    }
  },
  data() {
    return {
      list: ['a', 'b', 'c']
    }
  }
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  min-height: 300px;
  background: #ffffff;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
}
.dialog-header {
  height: 50px;
  border-bottom: 1px solid #cccccc;
  h3 {
    padding: 0 15px;
    line-height: 50px;
  }
}
.dialog-center {
  padding: 15px;
  flex: 1;
}
.dialog-footer {
  height: 50px;
  border-top: 1px solid #cccccc;
  padding: 10px 15px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
  button {
    height: 30px;
    padding: 0 10px;
    margin-left: 10px;
  }
}
.close {
  position: absolute;
  right: 0;
  top: 0;
  width: 20px;
  height: 20px;
  cursor: pointer;
  user-select: none;
}
</style>