* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style-type: none;
}
body {
  background: #eeeeee;
}
.app {
  padding: 20px;
}
.box {
  border: 1px solid;
  margin: 20px;
  padding: 20px;
  height: 300px;
  overflow: auto;
}
.loading {
  width: 100%;
  height: 100%;
  background: rgba($color: #000000, $alpha: .6);
  color: #ffffff;
  text-align: center;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}