<script setup>
import { ref, reactive } from 'vue'

// reactive 定义响应式变量
// 1. js 中访问 reactive 变量不需要通过 value
// 2. 不能重新赋值，只能修改属性
// 3. 只能定义数组和对象形式的响应式变量
// 4. 使用解构赋值出来的变量不是响应式变量

let obj = reactive({ name: '小明', age: 22 })
const arr = reactive([1,2,3,4,5])

const reset = () => {
  // 重写obj不会更新页面
  obj = { name: '小明11111111', age: 2222222 }
  console.log(obj)
}
</script>

<template>
  <h2>姓名: {{ obj.name }} <input type="text" v-model="obj.name"></h2>
  <h2>年龄: {{ obj.age }} <button @click="obj.age++">+</button></h2>
  {{ obj }}
  <hr />
  <button @click="arr.push(arr.length + 1)">add</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
  <hr />
  <button @click="reset">重写obj</button>
</template>

<style scoped>

</style>
