<template>
  <div class="home">
    <header>
      <div class="search">
        <router-link to="/search">搜索</router-link>
      </div>
      <nav>
        <router-link to="/home/zh">综合</router-link>
        <router-link to="/home/xl">销量</router-link>
        <router-link to="/home/sx">上新</router-link>
        <p @click="setSortType">价格 {{ sortText }}</p>
        <p @click="setGrid(!isGrid)">{{ isGrid ? '列表' : '网格' }}</p>
      </nav>
    </header>
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['isGrid', 'sortType']),
    sortText() {
      if (this.sortType === 1) {
        return 'sx'
      } else if (this.sortType === 2) {
        return 'jx'
      }
      return ''
    }
  },
  methods: {
    ...mapMutations(['setGrid', 'setSortType'])
  }
}
</script>

<style lang="scss" scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
header {
  height: 80px;
}
main {
  flex: 1;
  overflow: hidden;
}
.search {
  height: 40px;
  background: #333333;
  padding: 5px 20px;
  a {
    display: block;
    width: 100%;
    height: 30px;
    color: #999999;
    text-decoration: none;
    line-height: 30px;
    background: #eeeeee;
  }
}
nav {
  height: 40px;
  border-bottom: 1px solid;
  display: flex;
  a {
    flex: 1;
    color: #333333;
    text-align: center;
    text-decoration: none;
    line-height: 40px;
    &.router-link-active {
      color: tomato;
    }
  }
  p {
    line-height: 40px;
    width: 60px;
    text-align: center;
    &:last-of-type {
      border-left: 1px solid #333333;
    }
  }
}
</style>