<template>
  <el-dialog :title="updateRow ? '编辑用户' : '新增用户'" :visible="visible" @close="$emit('update:visible', false)">
    <el-form ref="form" :model="dialogForm" label-width="100px" :rules="rules">
      <el-form-item label="姓名" prop="username">
        <el-input v-model="dialogForm.username" autocomplete="off"></el-input>
      </el-form-item>
      <el-form-item label="性别" prop="sex">
        <el-select v-model="dialogForm.sex" placeholder="请选择性别">
          <el-option label="男" :value="1"></el-option>
          <el-option label="女" :value="0"></el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="年龄" prop="age">
        <el-input v-model.number="dialogForm.age"></el-input>
      </el-form-item>
      <el-form-item label="密码" prop="password">
        <el-input v-model="dialogForm.password"></el-input>
      </el-form-item>
      <el-form-item label="邮箱" prop="email">
        <el-input v-model="dialogForm.email"></el-input>
      </el-form-item>
    </el-form>
    <div slot="footer">
      <el-button @click="$emit('update:visible', false)">取 消</el-button>
      <el-button type="primary" @click="ok">确 定</el-button>
    </div>
  </el-dialog>
</template>

<script>
import { createUserApi, updateUserApi } from '@/api'
export default {
  props: ['visible', 'updateRow'],
  data() {
    return {
      dialogForm: {
        username: '',
        age: '',
        sex: '',
        email: '',
        password: ''
      },
      rules: {
        username: [
          { required: true, message: '请输入姓名', trigger: 'change' },
          { min: 2, max: 5, message: '长度在 2 到 5 个字符', trigger: 'change' }
        ],
        age: [
          { required: true, message: '请输入年龄', trigger: 'change' },
          { type: 'number', message: '请输入数字', trigger: 'change' }
        ],
        sex: [
          { required: true, message: '请选择性别', trigger: 'change' }
        ],
        password: [
          { required: true, message: '请输密码', trigger: 'change' },
          { min: 3, message: '密码最少3位', trigger: 'change' }
        ],
        email: [
          { required: true, message: '请输入邮箱', trigger: 'change' },
          { type: 'email', message: '请输入正确的邮箱', trigger: 'change' }
        ],
      }
    }
  },
  watch: {
    updateRow() {
      if (this.updateRow) {
        this.dialogForm = this.updateRow
      } else {
        // 重置表单
        this.dialogForm = {
          username: '',
          age: '',
          sex: '',
          email: '',
          password: ''
        }
        this.$refs.form.resetFields()
      }
    }
  },
  methods: {
    async create() {
      const res = await createUserApi(this.dialogForm)
      if (res.data.code === 0) {
        this.$message.success('新增成功')
        this.$emit('update:visible', false)
        this.$emit('success')
      } else {
        this.$message.error(res.data.msg)
      }
    },
    async update() {
      const res = await updateUserApi(this.dialogForm)
      if (res.data.code === 0) {
        this.$message.success('修改成功')
        this.$emit('update:visible', false)
        this.$emit('success')
      } else {
        this.$message.error(res.data.msg)
      }
    },
    async ok() {
      try {
        await this.$refs.form.validate()
        if (this.updateRow) {
          this.update()
        } else {
          this.create()
        }
      } catch(e) {}
    }
  }
}
</script>

<style>

</style>