<template>
  <el-form ref="form" :model="params" label-width="80px">
    <el-row>
      <el-col :span="8">
        <el-form-item label="id">
          <el-input v-model.trim="params.id" placeholder="请输入id"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="姓名">
          <el-input v-model.trim="params.username" placeholder="请输入姓名"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="性别">
          <el-select v-model="params.sex" placeholder="请选择性别">
            <el-option label="男" :value="1"></el-option>
            <el-option label="女" :value="0"></el-option>
          </el-select>
        </el-form-item>
      </el-col>
    </el-row>
    <el-row>
      <el-col :span="8">
        <el-form-item label="年龄">
          <el-input v-model.trim.number="params.age" placeholder="请输入年龄"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="邮箱">
          <el-input v-model.trim="params.email" placeholder="请输入邮箱"></el-input>
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item>
          <el-button type="primary" @click="submit">搜索</el-button>
          <el-button @click="reset">重置</el-button>
        </el-form-item>
      </el-col>
    </el-row>
  </el-form>
</template>

<script>
export default {
  data() {
    return {
      params: {
        username: '',
        age:'',
        id: '',
        sex: '',
        email: '',
      }
    }
  },
  methods: {
    reset() {
      this.params = {
        username: '',
        age:'',
        id: '',
        sex: '',
        email: '',
      }
      this.$emit('search', {})
    },
    submit() {
      const searchParams = {}
      Object.keys(this.params).forEach(key => {
        const val = this.params[key]
        if (typeof val === 'number' || val) {
          searchParams[key] = val
        }
      })
      this.$emit('search', searchParams)
    }
  }
}
</script>

<style>

</style>