<script setup>
import { ref, watchEffect, watch } from 'vue'
import { useRoute, useRouter } from 'vue-router' 
import axios from 'axios'
import { useMovieStore } from '@/stores/movie'

const movieStore = useMovieStore()

// 获取当前路由信息，相当于 vue2 中的 this.$route
const route = useRoute()
// 路由实例对象，相当于 vue2 中的 this.$router
const router = useRouter()
// 定义请求类型的枚举值
const types = {
  hot: 1,
  coming: 2
}
// 当前页面的type
const currentType = ref('')

// 页面数据
const list = ref([])
// 调用接口
const getList = async () => {
  const res = await axios.get('https://m.maizuo.com/gateway', {
    params: {
      cityId: 440300,
      pageNum: movieStore.pageNum,
      pageSize: 10,
      type: currentType.value,
      k: 9801326,
    },
    headers: {
      'X-Client-Info': `{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033"}`,
      'X-Host': 'mall.film-ticket.film.list'
    }
  })
  // 合并数据
  list.value = list.value.concat(res.data.data.films)
  // 当前列表数据
  movieStore.curListLen = list.value.length
  // 存总数
  movieStore.total = res.data.data.total
}

// 监听路由改变
watch([
  () => route.params.type,
  () => movieStore.pageNum
], ([newType], [oldType]) => {
  // 路由改变，清空数据
  if (newType !== oldType) {
    list.value = []
    movieStore.pageNum = 1
  }

  // 自动监听函数内使用的变量
  const type = types[route.params.type]
  if (type) {
    // 根据type获取不同的数据
    currentType.value = type
    getList()
  } else {
    router.replace('/home/movie/hot')
  }
}, {
  // 进入页面立即执行一次
  immediate: true
})


const goDetail = (id) => {
  // query传参数
  // router.push({
  //   path: '/detail',
  //   query: {
  //     id
  //   }
  // })

  // 动态路由传参数
  // router.push(`/detail/${id}`)
  router.push({
    name: 'detail',
    params: {
      id
    },
    query: {
      a: 100,
      b: 200,
      username: '王小明'
    }
  })
}

</script>

<template>
  <div>
    <div class="film" v-for="item in list" :key="item.filmId" @click="goDetail(item.filmId)">
      <h3>{{ item.name }}</h3>
      <img :src="item.poster" width="100" height="148" alt="">
      <p>{{ item.category }}</p>
    </div>
  </div>
</template>

<style lang='scss' scoped>
.film {
  padding: 20px;
  border-bottom: 1px solid;
}
</style>
