<template>
  <div>
    <Header />
    选择城市页面
  </div>
</template>

<script>
import Header from '../../components/Header.vue'
export default {
  components: {
    Header
  }
}
</script>

<style>

</style>