<template>
  <div class="login">
    <LoginForm v-if="showLogin" @changeShow="showLogin = false" />
    <RegisterForm v-else @changeShow="showLogin = true" />
  </div>
</template>

<script>
import LoginForm from './components/LoginForm.vue'
import RegisterForm from './components/RegisterForm.vue'

export default {
  data() {
    return {
      showLogin: true
    }
  },
  components: {
    LoginForm,
    RegisterForm
  }
}
</script>

<style lang="scss" scoped>
.login {
  width: 100%;
  height: 100%;
  background: url(https://img.alicdn.com/tfs/TB1cpTewMHqK1RjSZFEXXcGMXXa-2872-1580.png)
    no-repeat;
  background-size: cover;
  position: fixed;
}
</style>