<template>
  <div class="about">
    <h1>This is an about page</h1>
    <footer>总价: {{ total }}</footer>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
 computed: {
    ...mapState(['list']),
    total() {
      return this.$store.getters.total
    }
    // total() {
    //   return this.list.reduce((prev, val) => prev + val.count * val.price, 0)
    // }
  },
}
</script>