<template>
  <div class="home">
    <h2>首页</h2>
    <ul>
      <li v-for="(item, index) in list" :key="item.title">
        <h3>{{ item.title }}</h3>
        <p>价格: ¥{{ item.price }}</p>
        <button @click="changeCount({ index, num: -1 })">-</button>
        {{ item.count }}
        <button @click="changeCount({ index, num: 1 })">+</button>
      </li>
    </ul>
    <footer>总价：{{ total }}</footer>
  </div>
</template>

<script>
import { mapMutations, mapState, mapGetters } from 'vuex'
export default {
  name: 'HomeView',
  computed: {
    ...mapState(['list']),
    ...mapGetters(['total'])
    // total() {
    //   return this.list.reduce((prev, val) => prev + val.count * val.price, 0)
    // }
  },
  methods: {
    ...mapMutations(['changeCount'])
  }
}
</script>
