* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html, body, #root, .page {
  width: 100%;
  height: 100%;
}
.app {
  background: #dddddd;
  padding: 20px;
}