<template>
  <div class="box">
    <h2>组件2 - {{ mixinTitle }}</h2>
    <button @click="num++">+</button> {{ num }}
    <div>鼠标位置：{{ pos }}</div>
  </div>
</template>

<script>
import pos from '../mixins/pos'

export default {
  // mixin: 抽取公共逻辑
  // 把混入的对象合并到当前组件，同名的生命周期先执行混入的代码，后执行组件代码，同名的变量组件会覆盖混入
  mixins: [pos],
  data () {
    return {
      num: 0
    }
  },
  created () {
    console.log('创建 Child2')
    console.log(this)
  },
  beforeDestroy () {
    console.log('销毁 Child2')
  }
}
</script>

<style lang="scss" scoped>
.box {
  padding: 10px;
  border: 1px solid;
}
</style>
