<template>
  <div class="box">
    <h2>组件1 - {{ a }}</h2>
    <input type="text" v-model="text"> {{text}}
    <hr />
    {{pos}}
  </div>
</template>

<script>
import posMixin from '../mixins/pos'
export default {
  mixins: [posMixin],
  data () {
    return {
      text: '默认值',
      a: 'AAAA'
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  padding: 10px;
  border: 1px solid;
}
</style>
