<template>
  <div class="about">
    <h1>This is an about page</h1>
    <h4>vuex中的数据: {{ storeNum }} <button @click="changeNum(5)">+5</button></h4>
    <p>{{ storeObj }}</p>
    <button @click="addAge">age+1</button>
    <hr />
    {{ num }}
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  data(){
    return {
      num: -100
    }
  },
  computed: {
    // 把 state 数据映射到计算属性
    // ...mapState(['num', 'obj']),
    // 映射时修改变量名
    ...mapState({
      storeNum: state => state.num,
      storeObj: state => state.obj
    }),
    // num() {
    //   return this.$store.state.num
    // },
    // obj() {
    //   return this.$store.state.obj
    // }
  },
  methods: {
    ...mapMutations({
      changeNum: 'setNum'
    }),
    // add() {
    //   this.$store.commit('setNum', 5)
    // },
    addAge() {
      this.$store.commit('setObjAge')
    }
  }
}
</script>