<template>
  <div class="home">
    <h2>首页</h2>
    <h3>{{ rootTitle }}</h3>
    <button @click="setNum(1)">+1</button> {{ num }} <button @click="setNum(-1)">-1</button>
  </div>
</template>

<script>
import { mapMutations, mapState } from 'vuex'
export default {
  name: 'HomeView',
  computed: {
    // 把 state 数据映射到 计算属性中
    ...mapState(['rootTitle', 'num'])
    // rootTitle() {
    //   return this.$store.state.rootTitle
    // },
    // num() {
    //   return this.$store.state.num
    // }
  },
  methods: {
    // 把 mutations 中的方法映射到 methods 中
    ...mapMutations(['setNum']),
    // setNum(...rest) {
    //   this.$store.commit('setNum', ...rest)
    // },
    add() {
      // 通过 commit 调用 mutations 中的方法修改 state
      // this.$store.commit('setNum', 1)
      // 调用 vuex mutations 方法
      this.setNum(1)
    },
    sub() {
      // this.$store.commit('setNum', -1)
      this.setNum(-1)
    }
  },
  created() {
    console.log('vuex实例对象', this.$store.state)
  }
}
</script>
