<template>
  <div class="login-form">
    <h3>登录</h3>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
    >
      <el-form-item prop="username">
        <el-input v-model="ruleForm.username" prefix-icon="el-icon-user" placeholder="请输入用户名"></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model="ruleForm.password" show-password prefix-icon="el-icon-lock" placeholder="请输入密码"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button class="btn" type="primary" @click="submitForm">登录</el-button>
        <div class="row">
          <el-button type="text" @click="$emit('changeShow')">立即注册</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { loginApi } from '@/api'
export default {
  data() {
    return {
      ruleForm: {
        username: '',
        password: ''
      },
      // 表单校验规则
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 2, max: 5, message: "长度在 2 到 5 个字符", trigger: "blur" },
        ],
        password: [
          { required: true, message: "请输入密码", trigger: "blur" },
          { min: 3, max: 16, message: "请输入 3 到 16 位的密码", trigger: "blur" },
        ]
      },
    };
  },
  methods: {
    submitForm() {
      // 通过ref调用子组件的校验方法触发表单验证
      this.$refs.ruleForm.validate(async (valid) => {
        if (valid) {
          // console.log('校验成功', this.ruleForm)
          const res = await loginApi(this.ruleForm)
          if (res.data.code === 0) {
            this.$message.success('登录成功')
            localStorage.setItem('token', res.data.token)
            this.$router.push('/')
          } else {
            this.$message.error(res.data.msg)
          }
        }
      })
    }
  },
}
</script>

<style lang="scss" scoped>

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
  min-height: 300px;
  width: 400px;
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.btn {
  width: 100%;
}
.row {
  text-align: center;
}
</style>