<template>
  <div class="login-form">
    <h3>注册</h3>
    <el-form
      :model="ruleForm"
      :rules="rules"
      ref="ruleForm"
    >
      <el-form-item prop="username">
        <el-input v-model="ruleForm.username" prefix-icon="el-icon-user" placeholder="请输入用户名"></el-input>
      </el-form-item>
      <el-form-item prop="password">
        <el-input v-model="ruleForm.password" show-password prefix-icon="el-icon-lock" placeholder="请输入密码"></el-input>
      </el-form-item>
      <el-form-item prop="confirmPwd">
        <el-input v-model="ruleForm.confirmPwd" show-password prefix-icon="el-icon-lock" placeholder="请确认密码"></el-input>
      </el-form-item>
      <el-form-item>
        <el-button class="btn" type="primary" @click="submitForm">注册</el-button>
        <div class="row">
          <el-button type="text" @click="$emit('changeShow')">已有账号，去登录</el-button>
        </div>
      </el-form-item>
    </el-form>
  </div>
</template>

<script>
import { registerApi } from '@/api'
export default {
  data() {
    const validatePass = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请输入密码'));
      } else {
        if (this.ruleForm.confirmPwd !== '') {
          this.$refs.ruleForm.validateField('confirmPwd');
        }
        callback();
      }
    };
    const validateconfirmPwd = (rule, value, callback) => {
      if (value === '') {
        callback(new Error('请确认密码'));
      } else if (this.ruleForm.confirmPwd !== this.ruleForm.password) {
        callback(new Error('两次密码不一致'));
      } else {
        callback();
      }
    };
    return {
      ruleForm: {
        username: '',
        password: '',
        confirmPwd: ''
      },
      // 表单校验规则
      rules: {
        username: [
          { required: true, message: "请输入用户名", trigger: "blur" },
          { min: 2, max: 5, message: "长度在 2 到 5 个字符", trigger: "blur" },
        ],
        password: [
          // 使用自定义校验规则，触发校验是执行 validatePass 函数
          { validator: validatePass, trigger: 'blur'  }
        ],
        confirmPwd: [
          { validator: validateconfirmPwd, trigger: 'blur'  }
        ]
      },
    };
  },
  methods: {
    submitForm() {
      // 通过ref调用子组件的校验方法触发表单验证
      this.$refs.ruleForm.validate(async (valid) => {
        if (valid) {
          const res = await registerApi(this.ruleForm)
          if (res.data.code === 0) {
            this.$message.success('注册成功')
            // 跳转到登录
            this.$emit('changeShow')
          } else {
            this.$message.error(res.data.msg)
          }
        }
      })
    }
  },
}
</script>

<style lang="scss" scoped>

.login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  padding: 30px;
  border-radius: 5px;
  min-height: 300px;
  width: 400px;
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}
.btn {
  width: 100%;
}
.row {
  text-align: center;
}
</style>