<template>
  <div class="counter">
    我是counter组件
    <button @click="num--">-</button>
    {{ num }}
    <button @click="num++">+</button>
  </div>
</template>

<script>
export default {
  data() {
    return {
      num: 0
    }
  }
}
</script>

<style lang="scss" scoped>
// scoped: 样式隔离，样式只在当前组件内生效，不影响全局样式，
// 给组件内的标签添加自定义属性，通过属性选择器定义样式实现样式隔离功能
.counter {
  border: 1px solid;
  padding: 10px;
}
button {
  padding: 0 10px;
  color: red;
}
</style>