<script setup>
import { reactive, ref, defineAsyncComponent, watch, watchEffect, onMounted, onUpdated, nextTick, provide } from 'vue'
import Child from './components/Child.vue'
import { useCount } from '@/hooks/useCount'


const { count, start, stop, reset } = useCount(200)

</script>

<template>
  <h2>app组件</h2>
  <p>倒计时: {{ count }}</p>
  <button @click="start">开始</button>
  <button @click="stop">停止</button>
  <button @click="reset">重置</button>
  <Child  />
</template>

<style>
#app {
  border: 5px solid;
  margin-bottom: 50px;
}
</style>
