.controller {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:  0 20px;
  h3 {
    width: 120px;
    height: 40px;
    background: #8b8b8b;
    margin: 15px 0;
    text-align: center;
    line-height: 40px;
  }
}