<template>
  <div>
    <Header />
    详情页面
    <router-link to="/detail/bbb">bbb</router-link>
    <br />
    <router-link to="/detail/ccc">ccc</router-link>
  </div>
</template>

<script>
import Header from '../../components/Header.vue'
export default {
  created() {
    // this.$route: 当前路由信息
    console.log('获取？后参数', this.$route.query)
    console.log('获取动态路由参数', this.$route.params)
    this.getData()
  },
  beforeRouteEnter(to, from, next) {
    // 在渲染该组件的对应路由被 confirm 前调用
    // 不！能！获取组件实例 `this`
    // 因为当守卫执行前，组件实例还没被创建
    console.log('%c detail 组件 beforeRouteEnter', 'font-size: 20px; color: red;')
    next()
  },
  // beforeRouteUpdate(to, from, next) {
  //   // 在当前路由改变，但是该组件被复用时调用
  //   // 举例来说，对于一个带有动态参数的路径 /foo/:id，在 /foo/1 和 /foo/2 之间跳转的时候，
  //   // 由于会渲染同样的 Foo 组件，因此组件实例会被复用。而这个钩子就会在这个情况下被调用。
  //   // 可以访问组件实例 `this`
  //   console.log('%c detail 组件 beforeRouteUpdate', 'font-size: 20px; color: green;')
  //   next()
  //   this.getData()
  // },
  beforeRouteLeave(to, from, next) {
    // 导航离开该组件的对应路由时调用
    // 可以访问组件实例 `this`
    if (confirm('你确定要离开此页面吗？')) {
      next()
    } else {
      next(false)
    }
  },
  components: {
    Header
  },
  watch: {
    // 监听路由信息改变
    $route() {
      console.log('路由改变了', this.$route)
      this.getData()
    }
  },
  methods: {
    getlist1() {
      console.log('调用接口1')
    },
    getlist2() {
      console.log('调用接口2')
    },
    getlist3() {
      console.log('调用接口3')
    },
    getData() {
      if (this.$route.params.id === 'aaa') {
        this.getlist1()
      } else if (this.$route.params.id === 'bbb') {
        this.getlist2()
      } else if (this.$route.params.id === 'ccc') {
        this.getlist3()
      }
    }
  }
}
</script>

<style>

</style>