<!--pages/mine/mine.wxml-->
<view>我的页面</view>
<view>我的页面</view>
<view>我的页面</view>
<view>我的页面</view>
<navigator url="/detailPage/pages/detail/detail">详情</navigator>
<navigator url="/detailPage/pages/city/city">城市</navigator>
<view>我的页面</view>
<view>我的页面</view>
<view>我的页面</view>
<view>我的页面</view>
<view>我的页面</view>
<view>我的页面</view>

<van-slider value="50" bind:change="onChange" />
