<template>
  <div class="row">
    <label for="">{{ label }}:</label>
    <input type="text" :value="value" @input="input">
  </div>
</template>

<script>
export default {
  props: ['label', 'value'],
  methods: {
    input(e) {
      // 调用父组件的事件
      this.$emit('input', e.target.value)
    }
  }
}
</script>

<style lang="scss" scoped>
.row {
  display: flex;
  padding: 10px 0;
  label {
    width: 100px;
    padding: 0 10px;
  }
}
</style>