<template>
  <div>
    <button @click="ComName = 'Child1'">按钮1</button>
    <button @click="ComName = 'Child2'">按钮2</button>
    <button @click="ComName = 'Child3'">按钮3</button>
    <button @click="ComName = 'Child4'">按钮4</button>
    <!-- keep-alive: 缓存组件状态，组件隐藏时不会销毁 -->
    <!-- :include="['需要缓存的组件名', ...]" -->
    <!-- :exclude="['不需要缓存的组件名', ...]" -->
    <!-- :max="3" 最多缓存几个组件 -->
    <!-- <keep-alive>
      <Child1 v-if="ComName === 'Child1'" />
      <Child2 v-else-if="ComName === 'Child2'" />
      <Child3 v-else-if="ComName === 'Child3'" />
      <Child4 v-else-if="ComName === 'Child4'" />
    </keep-alive> -->
    <!-- 动态组件: 根据is传入的组件名渲染对应的组件 -->
    <keep-alive>
      <component :is="ComName"></component>
    </keep-alive>
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
// import Child2 from './components/Child2.vue'
// import Child3 from './components/Child3.vue'
// import Child4 from './components/Child4.vue'
// 异步引入组件（组件懒加载）：打包时把异步组件打包成单独的js文件，使用时再加载对应的文件，减少首屏加载时间
const Child2 = () => import(/* webpackChunkName: 'child2' */'./components/Child2.vue')
const Child3 = () => import(/* webpackChunkName: 'child3' */'./components/Child3.vue')
const Child4 = () => import(/* webpackChunkName: 'child4' */'./components/Child4.vue')

export default {
  data () {
    return {
      ComName: 'Child1'
    }
  },
  components: {
    Child1,
    Child2,
    Child3,
    Child4
  }
}
</script>

<style>

</style>
