.select {
  display: inline-block;
  vertical-align: middle;
  width: 500px;
  height: 40px;
  border: 1px solid #E6E6E6;
  background: #ffffff;
  position: relative;
  font-size: 14px;
  &:hover {
    border-color: #C0C4CC;
  }
  &.active {
    border-color: #009688;
    .options {
      display: flex;
    }
    .sanjiao {
      transform: rotate(180deg);
    }
  }
}
.selected {
  width: 100%;
  height: 100%;
  padding: 3px 30px 3px 10px;
  display: flex;
  overflow-x: auto;
  position: relative;
  p {
    flex-shrink: 0;
    background: #009688;
    color: #ffffff;
    line-height: 32px;
    border-radius: 3px;
    margin-right: 10px;
    padding-left: 10px;
    padding-right: 30px;
    position: relative;
    span {
      position: absolute;
      top: 6px;
      right: 6px;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      cursor: pointer;
    }
  }
  .placeholder {
    color: #999999;
    line-height: 32px;
  }
  .sanjiao {
    position: absolute;
    right: 10px;
    top: 8px;
    width: 16px;
    height: 16px;
    background: url(../../assets/icon2.png) no-repeat center;
    background-size: contain;
    transition: transform 0.3s linear;
  }
}
.options {
  display: none;
  position: absolute;
  z-index: 100;
  top: 45px;
  left: 0;
  width: 100%;
  max-height: 500px;
  overflow: auto;
  border: 1px solid #E6E6E6;
  background-color: #fff;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12);
  flex-direction: column;
}
.search {
  height: 40px;
  padding: 0 8px;
  border-bottom: 1px solid #dddddd;
  flex-shrink: 0;
  input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: #ffffff;
  }
}
.list {
  flex: 1;
  overflow: auto;
}
.listItem {
  height: 30px;
  line-height: 30px;
  cursor: pointer;
  padding: 0 20px;
  display: flex;
  align-items: center;
  &.hoverActive {
    background: #f2f2f2;
  }
  i {
    width: 20px;
    height: 20px;
    background: url(../../assets/icon3.png) no-repeat;
    background-size: contain;
    margin-right: 10px;
    &.active {
      background-image: url(../../assets/icon4.png);
    }
  }
}