<template>
  <div class="selected">
    <div class="title">
      <span>已选食物（{{ selectedList.length }}）</span>
      <router-link to="/advice">去测评</router-link>
    </div>
    <div class="list">
      <p v-for="item in selectedList" :key="item.name" @click="changeSelected(item.name)">{{ item.name }}</p>
    </div>
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['selectedList'])
  },
  methods: {
    ...mapMutations(['changeSelected'])
  }
}
</script>

<style lang="scss" scoped>
.selected {
  width: 100%;
  max-height: 250px;
  background: #ffffff;
  flex-shrink: 0;
  display: flex;
  flex-direction: column;
}
.title {
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
  align-items: center;
  a {
    background: tomato;
    color: #ffffff;
    padding: 0 15px;
    height: 30px;
    line-height: 30px;
    text-decoration: none;
    border-radius: 15px;
  }
}
.list {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  overflow: auto;
  p {
    padding: 10px 15px;
    border: 1px solid #cccccc;
    margin-left: 15px;
    margin-bottom: 10px;
  }
}
</style>