.compare {
  height: 100%;
  display: flex;
  flex-direction: column;
  nav {
    height: 100px;
    display: flex;
  }
  .navItem {
    flex: 1;
    text-align: center;
    padding-top: 20px;
    &.active {
      background: skyblue;
    }
  }
}
.content {
  flex: 1;
  background: #eee;
  overflow: auto;
  .tip {
    line-height: 50px;
    text-align: center;
    font-weight: bold;
  }
  ul {
    padding: 20px;
    li {
      margin-bottom: 20px;
      background: #ffffff;
      padding: 20px;
      border-radius: 10px;
      list-style-type: none;
    }
  }
}