<script setup>
import { RouterView, RouterLink } from 'vue-router'
</script>

<template>
  <div class="home">
    <main>
      <RouterView />
    </main>
    <footer>
      <RouterLink to="/home/movie">电影</RouterLink>
      <RouterLink to="/home/cinema">影院</RouterLink>
      <RouterLink to="/city">城市</RouterLink>
      <RouterLink to="/home/mine">我的</RouterLink>
    </footer>
  </div>
</template>

<style lang='scss' scoped>
.home {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  overflow: auto;
}
footer {
  height: 50px;
  border-top: 1px solid;
  display: flex;
  a {
    flex: 1;
    text-align: center;
    line-height: 50px;
    &.router-link-active {
      background: tomato;
      color: #ffffff;
    }
  }
}
</style>
