<template>
  <header>
    我是导航
  </header>
</template>

<script>
export default {
  created() {
    console.log('header组件')
  }
}
</script>

<style scoped>
header {
  height: 50px;
  background: tomato;
  text-align: center;
  color: #ffffff;
}
</style>