<script setup>
	import { ref } from 'vue'
  import { useCartStore } from '../../store/cart.js'
  
  const cartStore = useCartStore()
  // 获取商品列表数据
  cartStore.getGoodsList()
  // 当前高亮下标
  const curIndex = ref(0)
  
  const goDetail = (name) => {
    uni.navigateTo({
      url: `/pages/detail/detail?name=${name}`
    })
  }
  
</script>

<template>
  <view class="page">
    <view class="menu">
      <view
        v-for="(item, index) in cartStore.list"
        :key="item.name"
        :class="['item', { active: curIndex === index }]"
        @click="curIndex = index"
      >
        {{item.name}}
      </view>
    </view>
    <view class="content" v-if="cartStore.list[curIndex]">
      <view class="sub-title">
        {{cartStore.list[curIndex].name}}
      </view>
      <view class="foods">
        <view class="food-item" v-for="food in cartStore.list[curIndex].foods" :key="food.name">
          <view class="nam">
            {{food.name}}
          </view>
          <image :src="food.image" mode="widthFix" @click="goDetail(food.name)"></image>
          <button type="primary" size="mini" @click="cartStore.changeCount(food, 1)">+</button>
          {{food.count || 0}}
          <button type="warn" size="mini" @click="cartStore.changeCount(food, -1)">-</button>
        </view>
      </view>
    </view>
	</view>

</template>


<style lang="scss" scoped>
	.page {
    width: 100%;
    height: 100%;
    display: flex;
  }
  .menu {
    width: rpx(100);
    background: #cccccc;
    .item {
      height: rpx(40);
      line-height: rpx(40);
      text-align: center;
      font-size: 12px;
      &.active {
        background: #ffffff;
        color: tomato;
      }
    }
  }
  .content {
    flex: 1;
    overflow-y: auto;
  }
  .sub-title {
    background: #cccccc;
    line-height: rpx(30);
    padding-left: rpx(20);
  }
  .food-item {
    padding: rpx(20);
    image {
      width: rpx(80);
      height: rpx(80);
    }
  }
</style>
