<script setup>
const props = defineProps(['count', 'modelValue'])
const emits = defineEmits(['update:count', 'update:modelValue'])

</script>

<template>
  <div class="child">
    <h3>子组件</h3>
    <p>父组件的count: {{ count }} <button @click="emits('update:count', count + 1)">+</button></p>
    <p>父组件的text: {{ modelValue }}</p>
    <input type="text" :value="modelValue" @input="e => emits('update:modelValue', e.target.value)">
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 5px solid salmon;
  padding: 50px;
}
</style>
