.volume {
  margin: 15px 0;
  width: 100%;
  height: 8px;
  border: 2px solid #666666;
  background: #999999;
  box-shadow: 1px 1px 2px 2px #000000;
  position: relative;
  span {
    position: absolute;
    left: 0;
    top: -12px;
    width: 10px;
    height: 30px;
    background: #0023f5;
    box-shadow: 1px 1px 2px 2px #333333;;
  }
}