<template>
  <div class="goods" :class="{ grid: isGrid }">
    <div class="item" v-for="item in sortList" :key="item.item_id" @click="goDetail(item.item_id)">
      <img :src="item.img" alt="">
      <div class="info">
        <h3>{{ item.title }}</h3>
        <p>¥{{ item.price }}</p>
        <p>销量{{ item.sold }}</p>
      </div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import { mapState } from 'vuex'
const urlList = {
  zh: '/api/list/zh',
  xl: '/api/list/xl',
  sx: '/api/list/sx',
}
export default {
  data() {
    return {
      list: []
    }
  },
  computed: {
    ...mapState(['isGrid', 'sortType']),
    sortList() {
      // 默认排序
      if (this.sortType === 0) return this.list
      // 拷贝数据，根据 sortType 排序
      const list = [...this.list]
      list.sort((a, b) => {
        if (this.sortType === 1) {
          return a.price - b.price
        } else {
          return b.price - a.price
        }
      })
      return list
    }
  },
  methods: {
    goDetail(id) {
      this.$router.push({
        path: '/detail',
        query: { id }
      })
    }
  },
  watch: {
    // 监听路由信息改变
    $route: {
      handler() {
        const url = urlList[this.$route.params.id]
        if (url) {
          axios.get(url).then(res => {
            this.list = res.data.items
          })
        } else {
          alert('访问的地址不存在')
          this.$router.replace('/')
        }
      },
      // 进入页面立即执行一次
      immediate: true
    }
  },
  created() {
    
  }
}
</script>

<style lang="scss" scoped>
.goods {
  height: 100%;
  overflow: auto;
}
.item {
  display: flex;
  img {
    width: 100px;
  }
  .info {
    h3 {
      font-size: 14px;
    }
    flex: 1;
    padding-left: 20px;
    border-bottom: 1px solid;
  }
}
.grid {
  display: flex;
  flex-wrap: wrap;
  .item {
    width: 50%;
    display: flex;
    flex-direction: column;
    &:nth-child(odd) {
      border-right: 1px solid;
    }
    img {
      width: 100%;
    }
    .info {
      padding: 10px;
    }
  }
}
</style>