* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}
html, body, #root, .page {
  width: 100%;
  height: 100%;
  font-size: 14px;
  color: #333333;
}
a {
  text-decoration: none;
  color: #333333;
}
.home {
  display: flex;
  flex-direction: column;
  nav {
    height: 40px;
    display: flex;
    border-bottom: 1px solid #999999;
    position: relative;
    a {
      flex: 1;
      text-align: center;
      line-height: 40px;
      &.active {
        color: tomato;
      }
    }
    span {
      position: absolute;
      bottom: -1px;
      left: 0;
      width: 33.33%;
      height: 2px;
      background: tomato;
      transition: transform 0.3s linear;
    }
  }
  main {
    flex: 1;
    overflow: hidden;
  }
}
.goods {
  display: flex;
  flex-direction: column;
  .list {
    flex: 1;
    display: flex;
    overflow: hidden;
    .tab-nav {
      width: 100px;
      overflow-y: auto;
      background: #f4f5f7;
      p {
        text-align: center;
        height: 50px;
        padding: 0 10px;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 12px;
        &.active {
          background: #ffffff;
          font-weight: bold;
        }
      }
    }
    .tab-content {
      flex: 1;
      height: 100%;
      overflow-y: auto;
      position: relative;
      scroll-behavior: smooth;
    }
    .goods-item  {
      h3 {
        background: #f4f5f7;
        height: 40px;
        line-height: 40px;
        padding-left: 20px;
        font-size: 14px;
      }
      li {
        padding: 15px;
        border-bottom: 1px dashed #999999;
        button {
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  footer {
    height: 50px;
    background: #000000;
    line-height: 50px;
    padding-left: 20px;
    span {
      margin-right: 20px;
    }
    &.highlight {
      color: #ffffff;
    }
  }
}
.cart {
  position: fixed;
  top: 0;
  bottom: 50px;
  left: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: .5);
  overflow: hidden;
  .cart-content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #ffffff;
    h3 {
      background: #f4f5f7;
      padding: 0 16px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 36px;
      span {
        font-weight: normal;
        color: skyblue;
      }
    }
    ul {
      max-height: 360px;
      overflow: auto;
    }
    li {
      display: flex;
      align-items: center;
      padding: 0 16px;
      height: 40px;
      border-bottom: 1px dashed #999999;
      span {
        flex: 1;
        color: tomato;
        text-align: right;
        margin: 0 15px;
      }
      .btns {
        display: flex;
      }
      button {
        width: 20px;
        height: 20px;
      }
      i {
        width: 30px;
        text-align: center;
        font-style: normal;
      }
    }
  }
}