.keyboard {
  width: 400px;
  flex-shrink: 0;
  padding: 20px 15px;
  display: flex;
  flex-wrap: wrap;
  p {
    width: 110px;
    height: 110px;
    background: #8b8b8b;
    border-radius: 8px;
    line-height: 120px;
    text-align: center;
    user-select: none;
    cursor: pointer;
    margin: 5px;
    box-shadow: 3px 3px 5px 1px #333333;
    &.isDown {
      box-shadow: none;
    }
    &.on {
      background: orange;
    }
  }
}