<template>
  <div>
    <ButtonCounter :num.sync="num" :title.sync="title" />
    <!-- <ButtonCounter
      :num="num"
      @update:num="num = $event"
      :title="title"
      @update:title="title = $event"
    /> -->
    <div>
      <p>num: {{ num }}</p>
      <p>title: {{ title }}</p>
    </div>
  </div>
</template>

<script>
import ButtonCounter from './components/ButtonCounter.vue'

export default {
  data() {
    return {
      num: 10,
      title: '标题123'
    }
  },
  methods: {
  },
  components: {
    ButtonCounter
  }
}
</script>

<style scoped>

</style>