.switch {
  width: 60px;
  text-align: center;
  p {
    height: 24px;
    background: #000000;
    padding: 3px;
    &.on {
      span {
        transform: translateX(30px);
        opacity: 1;
      }
    }
    span {
      display: block;
      background: #0023f5;
      width: 24px;
      height: 100%;
      opacity: 0.7;
    }
  }
}