<script setup>
import { reactive, ref, computed, watch, watchEffect, onMounted, onUpdated } from 'vue'

const title = ref('标题')

onMounted(() => {
  console.log('组件挂载完成1', document.querySelector('.h2').innerHTML)
})

onMounted(() => {
  console.log('组件挂载完成2')
})

onMounted(() => {
  console.log('组件挂载完成3')
})

onUpdated(() => {
  console.log('组件更新完成', document.querySelector('.h2').innerHTML)
})

// 挂载完成：onMounted()  
// 更新完成：onUpdated()
// 销毁完成：onUnmounted()
// 挂载之前：onBeforeMount()
// 更新之前：onBeforeUpdate()
// 销毁之前：onBeforeUnmount()

</script>

<template>
  <h2 class="h2">{{ title }}</h2>
  <input type="text" v-model="title">
</template>

<style scoped>

</style>
