.home {
  width: 100%;
  height: 100vh;
  header {
    height: 60px;
    border-bottom: 1px solid;
    a {
      line-height: 60px;
      margin: 0 20px;
    }
    :global(a.active) {
      background: tomato;
    }
    // :global {
    //   .active {
    //     background: skyblue;
    //   }
    //   .box {
    //     color: red;
    //   }
    // }
  }
  
}
