/* components/footer/footer.wxss */
@import '../../styles/common.scss';
.footer {
  margin-top: rpx(20);
  display: flex;
  height: rpx(100);
  button {
    margin: 0 rpx(10);
    padding: 0;
    flex: 1;
    line-height: rpx(100);
  }
}