<script setup>
	import { ref, computed } from 'vue'
  import { onLoad } from '@dcloudio/uni-app'
  import { useCartStore } from '../../store/cart.js'
  
  const cartStore = useCartStore()
  const name = ref('')
  
  const curFood = computed(() => {
    let cur = null
    cartStore.list.forEach(item => {
      item.foods.forEach(food => {
        if (food.name === name.value) {
          cur = food
        }
      })
    })
    return cur
  })
  
  onLoad((options) => {
    console.log('获取地址栏参数', options);
    name.value = options.name
  })
  
</script>

<template>
  <view>
    详情
    {{curFood}}
  </view>
</template>


<style lang="scss">

</style>
