<script setup lang="ts">
import { ref } from 'vue'

const num = ref(0)
const changeNum = (n: number) => {
  num.value += n
}

export interface IExpose {
  a: number;
  b: string;
  changeNum: typeof changeNum
}

// 定义需要暴露给父组件的数据和方法
defineExpose<IExpose>({
  a: 100,
  b: 'BBBBBB',
  changeNum
})
</script>

<template>
  <div class="child">
    <h2>child2</h2>
    <button @click="changeNum(2)">点击： {{ num }}</button>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid;
  padding: 30px;
}
</style>
