<script setup lang="ts">

interface IProps {
  title: string;
  num?: number;
}
// 给props定义类型
const props = defineProps<IProps>()

export type TitleIParams = {
  text: string;
  date: string;
}

// 声明自定义事件类型
interface IEmits {
  (e: 'changeNum', n: number): void;
  (e: 'changeTitle', params: TitleIParams): void;
}
const emits = defineEmits<IEmits>()

const clickfn = () => {
  emits('changeTitle', {
    text: Math.random() + '',
    date: new Date().toLocaleString()
  })
}
</script>

<template>
  <div class="child">
    <h2>子组件</h2>
    <p>父组件标题: {{ title }} <button @click="clickfn">修改父组件标题</button></p>
    <p>父组件num: {{ num }} <button @click="emits('changeNum', 1)">修改父组件</button></p>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 1px solid;
  padding: 30px;
}
</style>
