<template>
  <div class="page">
    <Search @search="search" />
    <div class="right">
      <el-button type="primary" @click="dialogFormVisible = true">新增</el-button>
      <el-button @click="exportExcel">导出excel</el-button>
    </div>
    <el-table ref="tableRef" :data="tableData" border style="width: 100%" @selection-change="selectionChange">
      <el-table-column type="selection" width="55"></el-table-column>
      <el-table-column prop="no" label="序号" width="80"></el-table-column>
      <el-table-column prop="id" label="用户id" width="180"></el-table-column>
      <el-table-column prop="username" label="姓名"> </el-table-column>
      <el-table-column prop="age" label="年龄"></el-table-column>
      <el-table-column label="性别">
        <template slot-scope="scope">
          {{ scope.row.sex === 1 ? '男' : '女'}}
        </template>
      </el-table-column>
      <el-table-column prop="password" label="密码"></el-table-column>
      <el-table-column prop="email" label="邮箱" width="200"></el-table-column>
      <el-table-column label="操作">
        <template slot-scope="scope">
          <el-button type="text" size="small" @click="showEdit(scope.row)">编辑</el-button>
          <el-button type="danger" size="small" @click="remove(scope.row.id)">删除</el-button>
        </template>
      </el-table-column>
    </el-table>
    <div class="right">
      <el-pagination
        background
        :current-page="query.page"
        :page-sizes="[10, 20, 30, 40]"
        :page-size="query.pagesize"
        layout="total, sizes, prev, pager, next, jumper"
        :total="total"
        @size-change="sizeChange"
        @current-change="pageChange"
      >
      </el-pagination>
    </div>
    <FormDialog :updateRow="updateRow" :visible.sync="dialogFormVisible" @success="getList" />
  </div>
</template>

<script>
import { userListApi, delUserApi, exportExcelApi } from '@/api'
import FormDialog from './components/FormDialog.vue'
import Search from './components/Search.vue'
import * as XLSX from 'xlsx'
export default {
  data() {
    return {
      total: 0,
      tableData: [],
      // 存筛选表单的数据
      query: {
        page: 1,
        pagesize: 10
      },
      dialogFormVisible: false,
      // 要编辑的数据
      updateRow: null,
      // 搜索的条件
      searchParams: {},
      // 选中的数据
      selectionData: []
    }
  },
  watch: {
    // 监听参数改变
    query: {
      handler() {
        this.getList()
      },
      deep: true
    },
    dialogFormVisible() {
      if (!this.dialogFormVisible) {
        this.updateRow = null
      }
    }
  },
  methods: {
    selectionChange(selection) {
      console.log('选中的数据', selection)
      this.selectionData.push(...selection)
    },
    // 前端导出excel
    feExportExcel() {
      // 格式化数据，让表格头部显示中文
      const tableData = this.selectionData.map(item => {
        return {
          '序号': item.no,
          'id': item.id,
          '姓名': item.username,
          '年龄': item.age,
          '性别': item.sex,
          '邮箱': item.email,
        }
      })
      // 创建表格
      const wb = XLSX.utils.book_new()
      // 添加sheet
      const ws = XLSX.utils.json_to_sheet(tableData)
      // 把内容添加到表格
      XLSX.utils.book_append_sheet(wb, ws, 'sheet1')
      // 导出到本地
      XLSX.writeFile(wb, '测试表格.xlsx')
    },
    // 调用接口导出excel
    async exportExcel() {
      const ids = this.selectionData.map(v => v.id)
      const res = await exportExcelApi(ids.length > 0 ? ids : '')
      // 创建此文件在浏览器内存中的临时地址
      const url = window.URL.createObjectURL(new Blob([res.data]))
      // 创建 a 标签，设置文件下载地址
      const link = document.createElement('a')
      link.href = url
      link.download = '表格.xlsx'
      document.body.appendChild(link)
      // 触发 a 标签点击事件
      link.click()
      // 删除元素
      link.remove()
      // 清空临时文件内存
      window.URL.revokeObjectURL(url)
    },
    sizeChange(size) {
      console.log('每页多少条', size)
      this.query.pagesize = size
    },
    pageChange(page) {
      console.log('当前第几页：', page)
      this.query.page = page
    },
    async getList() {
      console.log('选中', this.selectionData)
      const res = await userListApi({...this.query, ...this.searchParams})
      this.tableData = res.data.values.list
      this.total = res.data.values.total
      this.$nextTick(() => {
        this.tableData.forEach(row => {
          const cur = this.selectionData.find(v => v.id === row.id)
          if (cur) {
            // 改变选中状态
            this.$refs.tableRef.toggleRowSelection(row)
          }
        })
      })
    },
    async del(id) {
      const res = await delUserApi(id)
      if (res.data.code === 0) {
        this.$message.success(res.data.msg)
        this.getList()
      } else {
        this.$message.error(res.data.msg)
      }
    },
    remove(id) {
      this.$confirm('此操作将永久删除该文件, 是否继续?', '提示', {
        confirmButtonText: '确定',
        cancelButtonText: '取消',
        type: 'warning'
      }).then(() => {
        this.del(id)
      }).catch(() => {
        this.$message.info('已取消删除')
      })
    },
    showEdit(row) {
      this.updateRow = {...row}
      this.dialogFormVisible = true
    },
    search(searchParams) {
      console.log('开始搜索', searchParams)
      this.searchParams = searchParams
      this.getList()
    }
  },
  created() {
    this.getList()
  },
  components: {
    FormDialog,
    Search
  }
}
</script>

<style lang="scss" scoped>
.page {
  padding: 20px;
  height: 100%;
  overflow: auto;
}
.el-table {
  margin: 20px 0;
}
.right {
  display: flex;
  justify-content: flex-end;
}
</style>