<script setup>
import { ref, onBeforeUnmount } from 'vue'
import { useCount } from '@/hooks/useCount'

// 调用组合式函数
const { count, start, stop } = useCount(100)

</script>

<template>
  <div class="child">
    <h3 @click="start">child11: {{ count }}</h3>
    <button @click="stop">停止</button>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 5px solid salmon;
  padding: 50px;
}
</style>
