<script setup>
import { ref } from 'vue'
import Child11 from './Child11.vue'

const show = ref(true)
</script>

<template>
  <div class="child">
    <h3>子组件 Child</h3>
    <button @click="show = !show">toggle</button>
    <Child11 v-if="show" />
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 5px solid salmon;
  padding: 50px;
}
</style>
