<template>
  <div class="home">
    <h2>首页</h2>
    {{ banners }}
  </div>
</template>

<script>
import { mapMutations, mapState, mapActions } from 'vuex'

export default {
  name: 'HomeView',
  computed: {
    ...mapState(['banners'])
  },
  methods: {
    // 把 action 函数映射到组件中
    ...mapActions(['getData'])
  },
  created() {
    // this.$store.dispatch('getData')
    this.getData()
  }
}
</script>
