<script setup>
import { reactive, ref, computed, watch, watchEffect, onMounted, onUpdated } from 'vue'
import Child from './components/Child.vue'

const title = ref('标题')
const count = ref(10)

const changeCount = e => {
  console.log('子组件传过来你的变量', e)
  count.value = e
}
</script>

<template>
  <h2 class="h2">{{ title }}</h2>
  <input type="text" v-model="title">
  <button @click="count++">count: {{ count }}</button>
  <Child :rootTitle="title" :count="count" @changeCount="changeCount" />
</template>

<style scoped>

</style>
