<template>
  <div class="home" v-loading="loading">
    <Header />
    <main>
      <router-view />
    </main>
  </div>
</template>

<script>
import Header from './components/Header.vue'
import { userInfoApi } from '@/api'
import { mapMutations } from 'vuex'
export default {
  data() {
    return {
      loading: true
    }
  },
  components: {
    Header
  },
  methods: {
    ...mapMutations(['setUserInfo'])
  },
  async created() {
    this.loading = true
    try {
      // 获取用户信息，存到vuex
      const res = await userInfoApi()
      this.setUserInfo(res.data.values)
      // this.$store.commit('setUserInfo', res.data.values)
      setTimeout(() => {
        this.loading = false
      }, 1000)
    } catch(e) {
      console.log(e)
    }
  }
}
</script>

<style lang="scss" scoped>
.home {
  height: 100%;
  display: flex;
  flex-direction: column;
}
main {
  flex: 1;
  overflow: hidden;
  background: #f2f2f2;
}
</style>