<template>
  <div class="detail">
    <div class="content">
      <el-upload
        class="avatar-uploader"
        action=""
        :show-file-list="false"
        :http-request="upload"
        :before-upload="beforeAvatarUpload"
      >
        <img v-if="userInfo.avatar" :src="userInfo.avatar" class="avatar">
        <i v-else class="el-icon-plus avatar-uploader-icon"></i>
      </el-upload>
      {{userInfo}}
    </div>
  </div>
</template>

<script>
import { updateAvatarApi, userInfoApi } from '@/api'
import { mapState, mapMutations } from 'vuex'
export default {
  computed: {
    ...mapState(['userInfo'])
  },
  methods: {
    ...mapMutations(['setUserInfo']),
    async upload(obj) {
      // 上传文件需要使用 FormData 格式的参数
      const formData = new FormData()
      formData.append('avatar', obj.file)
      const res = await updateAvatarApi(formData)
      if (res.data.code === 0) {
        this.$message.success('上传成功')
        // 更新store中的数据
        const userRes = await userInfoApi()
        this.setUserInfo(userRes.data.values)
      } else {
        this.$message.error(res.data.msg)
      }
    },
    beforeAvatarUpload(file) {
      const reg = /^image\/(jpe?g|png|svg|webp)$/
      const isIMG = reg.test(file.type)
      const isLt30K= file.size / 1024 < 30;
      if (!isIMG) {
        this.$message.error('文件格式错误，必须是jpg、png、svg、webp');
      }
      if (!isLt30K) {
        this.$message.error('上传头像图片大小不能超过 30KB!');
      }
      return isIMG && isLt30K;
    }
  }
}
</script>

<style lang="scss" scoped>
.detail {
  padding: 20px;
}
.content {
  background: #ffffff;
  min-height: 500px;
  padding: 20px;
}
// ::v-deep 样式穿透，修改UI组件内部样式
::v-deep .avatar-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}
::v-deep .avatar-uploader .el-upload:hover {
  border-color: #409EFF;
}
.avatar-uploader-icon {
  font-size: 28px;
  color: #8c939d;
  width: 178px;
  height: 178px;
  line-height: 178px;
  text-align: center;
}
.avatar {
  width: 178px;
  height: 178px;
  display: block;
}
</style>