<script setup>
  import { ref } from 'vue'
  import { useCartStore } from '../../store/cart.js'
  
  const cartStore = useCartStore()

</script>

<template>
  <view>
    <view class="cart-food" v-for="food in cartStore.cart" :key="food.name">
      {{food.name}} - {{food.count}}
    </view>
  </view>
</template>

<style lang="scss">

</style>
