<template>
  <div>
    <!-- <input type="text" v-model="text">{{ text }}
    <input type="text" :value="text" @input="$event => text = $event.target.value" /> -->

    <!-- <Input label="姓名" :value="form.name" @input="form.name = $event" />
    <Input label="年龄" :value="form.age" @input="form.age = $event" />
    <Input label="性别" :value="form.sex" @input="form.sex = $event" /> -->
    <Input label="姓名" v-model="form.name" />
    <Input label="年龄" v-model="form.age" />
    <Input label="性别" v-model="form.sex" />
    {{form}}
    <hr />
    <ButtonCounter v-model="num" />{{ num }}
  </div>
</template>

<script>
import Input from './components/Input.vue'
import ButtonCounter from './components/ButtonCounter.vue'

export default {
  data() {
    return {
      num: 10,
      text: '默认值',
      form: {
        name: '小明',
        age: 20,
        sex: '男'
      }
    }
  },
  methods: {
  },
  components: {
    Input,
    ButtonCounter
  }
}
</script>

<style>

</style>