<template>
  <div id="app">
    <input type="text" v-model="obj.name">
    <!-- 渲染路由的位置 -->
    <router-view />
  </div>
</template>

<script>
export default {
  data() {
    return {
      title: 'APP',
      obj: {
        name: '小明'
      }
    }
  },
  // 提供给所有后代组件的变量，
  // 传入基础类型的变量不是响应式的，变量更新时子级组件无法同步更新
  // 传入响应式的对象，子级组件的数据可以同步更新
  provide() {
    return {
      rootTitle: this.obj
    }
  },
  created() {
    // console.log(this.$router)
  }
}
</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
}
</style>
