<template>
  <div class="child11">
    <h2>Child1-1</h2>
  </div>
</template>

<script>
export default {
  beforeDestroy () {
    console.log('%c Child1-1 beforeDestroy', 'color: orange')
  },
  destroyed () {
    console.log('%c Child1-1 destroyed', 'color: orange')
  }
}
</script>

<style scoped>
.child11 {
  background: orange;
}
</style>
