<template>
  <div class="box">
    <h2>子组件1</h2>
    <h3>父组件title：<span style="color: red">{{ rootTitle }}</span></h3>
    <button @click="change">修改父组件标题</button>
    <hr />
    <button @click="changeNum(-1)">-</button>
    {{num}}
    <button @click="changeNum(1)">+</button>
    <Child11 />
  </div>
</template>

<script>
import Child11 from './Child1-1.vue'

export default {
  components: {
    Child11
  },
  props: ['rootTitle'],
  data () {
    return {
      num: 0
    }
  },
  methods: {
    change () {
      // 通过自定义事件调用父组件的函数，给父组件传参数
      this.$emit('changeTitle', Math.random())
    },
    changeNum (n) {
      console.log(this)
      this.num += n
    }
  },
  beforeCreate () {
    console.log('%c Child1 beforeCreate', 'color: green')
  },
  created () {
    console.log('%c Child1 created', 'color: green')
  },
  beforeMount () {
    console.log('%c Child1 beforeMount', 'color: green')
  },
  mounted () {
    console.log('%c Child1 mounted', 'color: green')
  },
  beforeUpdate () {
    console.log('%c Child1 beforeUpdate', 'color: green')
  },
  updated () {
    console.log('%c Child1 updated', 'color: green')
  },
  beforeDestroy () {
    console.log('%c Child1 beforeDestroy', 'color: green')
  },
  destroyed () {
    console.log('%c Child1 destroyed', 'color: green')
  }
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
}
</style>
