<template>
  <div>
    <h1>首页</h1>
    <!-- 声明式导航：跳转页面 -->
    <nav>
      <router-link :to="{ name: 'detail', params: { id: '111', a: 'aa', b: 'bb' }, query: { test: '测试' } }">详情页面</router-link>
      <router-link replace to="/city">城市</router-link>
      <router-link to="/login">登录</router-link>
    </nav>
    <button @click="goCity">跳转到城市</button>
    <ul>
      <li v-for="item in list" :key="item.targetId" @click="goDetail(item.targetId)">
        <img :src="item.imageUrl" width="100" alt="">
      </li>
    </ul>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  data() {
    return {
      list: [],
      a: 100
    }
  },
  methods: {
    goCity() {
      // 编程式导航跳页面
      // this.$router: 路由实例对象，可以跳转页面
      console.log('跳转页面', this.$router)
      this.$router.push('/city') // location.assign
      // this.$router.replace('/detail') // location.replace
      // this.$router.go // history.go
      // this.$router.back // history.back
      // this.$router.forward // history.forward
    },
    goDetail(id) {
      console.log('详情页面')
      // query 传参数
      // this.$router.push(`/detail?id=${id}&a=100&b=200`)
      // this.$router.push({
      //   path: '/detail',
      //   query: {
      //     id,
      //     a: 'AAA',
      //     b: 'BBB'
      //   }
      // })
      // params 传参数（动态路由）,需要先配置动态路由
      // this.$router.push(`/detail/${id}/aaa/bbbb`)
      this.$router.push({
        name: 'detail',
        params: {
          id,
          a: 'AAAA',
          b: 'VBVVVV'
        },
        query: {
          test: 'test111',
          user: 'wangxiaoming'
        }
      })
    }
  },
  created() {
    axios.get('http://zyxcl.xyz/music_api/banner').then(res => {
      this.list = res.data.banners
    })
  }
}
</script>

<style lang="scss" scoped>
nav {
  display: flex;
  justify-content: space-around;
}
</style>
