<template>
  <div class="app">
    <Search @search="search" @cancel="showResult = false" />
    <main>
      <Result v-if="showResult" :list="resultList" />
      <CityList v-else :grouplist="grouplist" />
    </main>
  </div>
</template>

<script>
import axios from 'axios'
import Search from './components/Search.vue'
import CityList from './components/CityList.vue'
import Result from './components/Result.vue'

export default {
  data () {
    return {
      cities: [], // 原数据
      grouplist: [], // 按首字母分组
      resultList: [], // 搜索结果
      showResult: false
    }
  },
  async created () {
    const res = await axios.get('/api/city')
    // 格式化数据
    this.grouplist = this.format(res.data.data.cities)
    console.log(this.grouplist)
    // 存原数据
    this.cities = res.data.data.cities
  },
  methods: {
    format (cities) {
      const grouplist = []
      const isHot = []
      cities.forEach(item => {
        const first = item.pinyin[0].toUpperCase()
        const curType = grouplist.find(v => v.type === first)
        if (curType) {
          curType.list.push(item)
        } else {
          grouplist.push({
            type: first,
            list: [item]
          })
        }
        if (item.isHot) {
          isHot.push(item)
        }
      })
      grouplist.sort((a, b) => a.type.charCodeAt() - b.type.charCodeAt())
      grouplist.unshift({
        type: '热门城市',
        isHot: true,
        list: isHot
      })
      return grouplist
    },
    search (val) {
      console.log('搜索框的值', val)
      this.showResult = true
      if (val.length === 0) {
        this.resultList = []
        return
      }
      this.resultList = this.cities.filter(item => item.pinyin.includes(val) || item.name.includes(val))
    }
  },
  components: {
    Search,
    CityList,
    Result
  }
}

</script>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
li {
  list-style: none;
}
html {
  font-size: 14px;
  color: #2c3e50;
}
</style>

<style lang="scss" scoped>
.app {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
    overflow: hidden;
  }
}
</style>
