/* components/money/money.wxss */
@import '../../styles/common.scss';
.money {
  display: flex;
  padding: 0 rpx(20);
  justify-content: space-between;
}
.money-list {
  width: rpx(110);
  height: rpx(110);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  .item {
    width: rpx(50);
    height: rpx(50);
    border-radius: 50%;
    text-align: center;
    line-height: rpx(50);
    background: #cccccc;
    image {
      width: rpx(50);
      height: rpx(50);
    }
  }
}
.circle {
  width: rpx(100);
  height: rpx(100);
  border-radius: 50%;
  background: #cccccc;
  line-height: rpx(100);
  text-align: center;
  position: relative;
  image {
    width: 100%;
    height: 100%;
  }
  .text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height:  100%;
    color: yellow;
  }
}