<template>
  <div class="box">
    <h2>组件1</h2>
    <input type="text" v-model="text">{{text}}
  </div>
</template>

<script>
export default {
  data () {
    return {
      text: '默认值'
    }
  },
  created () {
    console.log('创建 Child1')
  },
  beforeDestroy () {
    console.log('销毁 Child1')
  }
}
</script>

<style lang="scss" scoped>
.box {
  padding: 10px;
  border: 1px solid;
}
</style>
