<template>
  <div class="box">
    <h2>组件3</h2>
    <button @click="num--">-</button>
    {{ num }}
    <button @click="num++">+</button>
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  },
  created () {
    console.log('创建 Child3')
  },
  beforeDestroy () {
    console.log('销毁 Child3')
  }
}
</script>

<style lang="scss" scoped>
.box {
  padding: 10px;
  border: 1px solid;
}
</style>
