<template>
  <div class="box">
    <h2>组件2</h2>
    <button @click="num++">+</button> {{ num }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      num: 0
    }
  },
  created () {
    console.log('创建 Child2')
  },
  beforeDestroy () {
    console.log('销毁 Child2')
  }
}
</script>

<style lang="scss" scoped>
.box {
  padding: 10px;
  border: 1px solid;
}
</style>
