<template>
  <div class="box">
    <h2>组件4</h2>
    <input type="text" v-model="user.name">
    {{user}}
    <hr />
    定时器: {{ count }}
  </div>
</template>

<script>
export default {
  data () {
    return {
      user: {
        name: '小明'
      },
      count: 0
    }
  },
  created () {
    console.log('创建 Child4')
    // this.timer = setInterval(() => {
    //   this.count++
    //   console.log(this.count)
    // }, 1000)
  },
  beforeDestroy () {
    console.log('销毁 Child4')
    // clearInterval(this.timer)
  },
  // 被 keep-alive 包裹的组件特有的生命周期
  activated () {
    console.log('组件展示了')
    this.timer = setInterval(() => {
      this.count++
      console.log(this.count)
    }, 1000)
  },
  deactivated () {
    console.log('组件隐藏了')
    clearInterval(this.timer)
  }
}
</script>

<style lang="scss" scoped>
.box {
  padding: 10px;
  border: 1px solid;
}
</style>
