<template>
  <div>详情页面</div>
</template>

<script>
export default {
  created() {
    // this.$route: 当前路由信息
    console.log('获取？后参数', this.$route.query)
    console.log('获取动态路由参数', this.$route.params)
  }
}
</script>

<style>

</style>