<template>
  <header>
    <div class="logo">Logo</div>
    <el-menu
      :default-active="$route.path"
      mode="horizontal"
      background-color="#4481f6"
      text-color="#fff"
      active-text-color="#ffd04b"
      router
    >
      <el-menu-item index="/dashboard">监控页面</el-menu-item>
      <el-menu-item index="/list">列表页面</el-menu-item>
      <el-menu-item index="/edit">编辑页面</el-menu-item>
      <el-menu-item index="/detail">个人设置</el-menu-item>
    </el-menu>
    <div class="user">
      <el-avatar shape="square" size="medium" :src="avatar"></el-avatar>
      <el-dropdown @command="handleCommand">
        <span class="el-dropdown-link">
          {{ userInfo.username }}<i class="el-icon-arrow-down el-icon--right"></i>
        </span>
        <el-dropdown-menu slot="dropdown">
          <el-dropdown-item command="setting">个人设置</el-dropdown-item>
          <el-dropdown-item command="logout">退出登录</el-dropdown-item>
        </el-dropdown-menu>
      </el-dropdown>
    </div>
  </header>
</template>

<script>
import { mapState } from 'vuex'
export default {
  methods: {
    handleCommand(key) {
      if (key === 'setting') {
        this.$router.push('/detail')
      } else if (key === 'logout') {
        localStorage.removeItem('token')
        this.$router.push('/login')
      }
    }
  },
  computed: {
    ...mapState(['userInfo']),
    avatar() {
      return this.userInfo.avatar || 'https://cube.elemecdn.com/9/c2/f0ee8a3c7c9638a54940382568c9dpng.png'
    }
  },
  created() {
    console.log(this.$route)
  }
}
</script>

<style lang="scss" scoped>
header {
  display: flex;
  background: #4481f6;
}
.logo {
  width: 100px;
  color: #ffffff;
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  line-height: 61px;
}
.el-menu {
  flex: 1;
  border-bottom: 0px !important;
  padding-top: 10px;
  .el-menu-item {
    height: 40px;
    line-height: 40px;
  }
}
.user {
  width: 150px;
  display: flex;
  align-items: center;
}
.el-dropdown-link {
  margin-left: 20px;
  color: #ffffff;
}
</style>