<template>
  <div>
    <h1>登录页面</h1>
    <button @click="login">登录</button>
  </div>
</template>

<script>
const loginApi = () => {
  return new Promise((resolve, reject) => {
    setTimeout(() => {
      const token = Math.random() + '' + Math.random()
      resolve(token)
    }, 2000)
  })
}
export default {
  methods: {
    async login() {
      const token = await loginApi()
      localStorage.setItem('token', token)
      // 登录成功，获取 fullpath 跳回到原来的页面
      // decodeURIComponent 解析url中的特殊字符
      const fullpath = decodeURIComponent(this.$route.query.fullpath) || '/home'
      console.log(fullpath)
      // this.$router.replace(fullpath)
    }
  }
}
</script>

<style>

</style>