<script setup>
import { ref } from 'vue'

// ref: 创建响应式变量
// 1. js 中使用 ref 变量需要通过 value 属性
// 2. template 中使用不需要通过value
// 3. 定义同名的ref变量获取 dom 元素

const title = ref('标题')
const h1Ref = ref(null)

const getDom = () => {
  // 获取dom元素
  console.log(h1Ref.value)
}
</script>

<template>
  <!-- 标签上通过 ref 定义和变量同名的属性 -->
  <h1 ref="h1Ref">{{ title }}</h1>
  <input type="text" v-model="title">
  <button @click="getDom">获取h1dom</button>
</template>

<style scoped>

</style>
