.navs {
  ul {
    padding: 0;
    list-style: none;
    display: flex;
  }
  li {
    margin-right: 1em;
  }
  a {
    margin: 0 20px;
  }
  main {
    border: 1px solid tomato;
    padding: 20px;
  }
}

