<template>
  <div class="box">
    <h2>{{ title }}</h2>
    <button @click="$emit('update:title', 'ABCDEFG')">改标题</button>
    <hr />
    <button @click="$emit('update:num', num - 1)">-</button>
    {{ num }}
    <button @click="$emit('update:num', num + 1)">+</button>
  </div>
</template>

<script>
export default {
  props: ['num', 'title']

}
</script>

<style scoped>
.box {
  border: 1px solid;
  padding: 20px;
}
</style>