.box1 {
  border: 1px solid;
}
nav {
  width: 300px;
  display: flex;
  border: 1px solid;
}
nav span {
  flex: 1;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
}
nav span.active {
  background: tomato;
  color: #ffffff;
}