.tab {
  flex: 1;
  display: flex;
  overflow: hidden;
}
.menu {
  width: 100px;
  background: #efefef;
  border-right: 2px solid #efefef;
  p {
    line-height: 40px;
    text-align: center;
    &.active {
      background: #ffffff;
    }
  }
}
.list {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-wrap: wrap;
  .food {
    width: 33.33%;
    padding: 10px;
    font-size: 14px;
    text-align: center;
    &.active {
      img {
        border: 2px solid tomato;
      }
      p {
        font-weight: bold;
        color: tomato;
      }
    }
    img {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 8px;
    }
    p {
      line-height: 30px;
      height: 30px;
    }
  }
}