<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title">
  <button @click="arr.push(arr.length)">按钮</button>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
</template>

<script>
import { ref } from 'vue'
export default {
  // data() {
  //   return {
  //     title: '标题',
  //     arr: []
  //   }
  // },
  // methods: {
  //   add() {
  //     this.arr.push(this.arr.length)
  //   }
  // },
  // created() {
  //   console.log('组件创建成功', this)
  // },
  // mounted() {
  //   console.log('挂载完成', this.$refs.title)
  // },
  setup() {
    // 写组合式api
    const title = ref('标题')
    const arr = ref([])
    // 返回的数据会合并到data中
    return {
      title: title,
      arr: arr
    }
  }
}
</script>

<style scoped>

</style>
