<template>
  <div class="cart">
    <div class="foot">
      <div class="cart-icon" @click="showCart">
        <div class="circle" :class="{ active: total.count > 0 }">
          <svg t="1710485995975" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5272" width="24" height="24"><path d="M334.475817 778.284739c-49.040926 0-88.317465 39.720653-88.317465 88.76158 0 49.040926 39.277562 88.76158 88.317465 88.76158s88.76158-39.720653 88.76158-88.76158C423.23842 818.006416 383.516744 778.284739 334.475817 778.284739zM68.191078 68.191078l0 88.76158 88.76158 0L316.502467 493.581512l-59.914578 108.733447c-6.878664 12.870122-10.873652 27.294646-10.873652 42.827411 0 49.040926 39.720653 88.76158 88.76158 88.76158l532.570501 0 0-88.76158L353.338421 645.142369c-6.213515 0-11.095709-4.882194-11.095709-11.095709 0-1.997494 0.444115-3.771907 1.331321-5.325285l39.720653-72.340585 330.637396 0c33.286104 0 62.355163-18.418488 77.666894-45.712111l158.661579-288.032042c3.550873-6.213515 5.547343-13.536294 5.547343-21.303188 0-24.63098-19.971867-44.38079-44.38079-44.38079L255.256568 156.952658l-42.162262-88.76158C213.094306 68.191078 68.191078 68.191078 68.191078 68.191078zM778.284739 778.284739c-49.040926 0-88.317465 39.720653-88.317465 88.76158 0 49.040926 39.277562 88.76158 88.317465 88.76158 49.040926 0 88.76158-39.720653 88.76158-88.76158C867.046319 818.006416 827.325665 778.284739 778.284739 778.284739z" p-id="5273" fill="#999999"></path></svg>
          <i v-if="total.count > 0">{{ total.count }}</i>
        </div>
      </div>
      <div class="total" :style="[total.price > 0 ? { color: '#ffffff' } : {}]">¥{{ total.price }}</div>
      <div class="desc">另需配送费￥4元</div>
    </div>
    <div class="pay" :class="{ active: total.price >= 20 }" @click="pay">{{ payBtn }}</div>
    <Dialog :visible.sync="showDialog" @onOk="ok" @onCancel="cancel">
      <div>
        <h3>请确认支付金额</h3>
        <p>总共消费 ¥{{ total.price }}</p>
      </div>
    </Dialog>
  </div>
</template>

<script>
import Dialog from './Dialog.vue'
export default {
  data () {
    return {
      showDialog: false
    }
  },
  props: ['list'],
  computed: {
    total () {
      return this.list.reduce((prev, val) => {
        return {
          count: prev.count + val.count,
          price: prev.price + val.count * val.price
        }
      }, { count: 0, price: 0 })
    },
    payBtn () {
      if (this.total.price === 0) {
        return '¥20起送'
      } else if (this.total.price > 0 && this.total.price < 20) {
        return `还差¥${20 - this.total.price}起送`
      } else {
        return '去结算'
      }
    }
  },
  methods: {
    showCart () {
      if (this.list.length === 0) return
      // 调用父组件方法，显示购物车列表
      this.$emit('showCart')
    },
    pay () {
      if (this.total.price >= 20) {
        this.showDialog = true
      }
    },
    ok () {
      alert('支付成功')
      this.showDialog = false
    },
    cancel () {
      alert('取消支付')
      this.showDialog = false
    }
  },
  components: {
    Dialog
  }
}
</script>

<style lang="scss" scoped>
.cart {
  background: #07111b;
  height: 48px;
  display: flex;
  color: #999;
}
.foot {
  flex: 1;
  display: flex;
}
.cart-icon {
  width: 56px;
  height: 56px;
  background: #07111b;
  position: relative;
  top: -8px;
  border-radius: 50%;
  margin: 0 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  .circle {
    border-radius: 50%;
    width: 44px;
    height: 44px;
    background: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    i {
      position: absolute;
      top: -8px;
      right: -5px;
      color: #ffffff;
      background: tomato;
      font-style: normal;
      width: 20px;
      height: 20px;
      text-align: center;
      line-height: 20px;
      border-radius: 50%;
      font-size: 12px;
    }
    .icon {
      width: 24px;
      height: 24px;
    }
    &.active {
      background: #00a0dc;
      .icon {
        path {
          fill: #ffffff;
        }
      }
    }
  }
}
.total {
  margin: 0 10px;
  font-size: 16px;
  line-height: 48px;
}
.desc {
  line-height: 48px;
}
.pay {
  width: 105px;
  background: #333333;
  text-align: center;
  line-height: 48px;
  &.active {
    background: #00b43c;
    color: #ffffff;
  }
}
</style>
