<template>
  <div class="cart-list" v-if="show" @click.self="$emit('update:show', false)">
    <div class="cart-content">
      <h3>购物车 <span @click="showDialog = true">清空</span></h3>
      <ul>
        <li v-for="item in list" :key="item.name">
          <h4>{{ item.name }}</h4>
          <p>¥{{ item.price }}</p>
          <div class="btns">
            <button @click="$emit('changeCount', item, -1)">-</button>
            {{ item.count }}
            <button @click="$emit('changeCount', item, 1)">+</button>
          </div>
        </li>
      </ul>
    </div>
    <Dialog
      :visible.sync="showDialog"
      title="确定要清空购物车吗?"
      @onCancel="showDialog = false"
      @onOk="$emit('clear')"
    />
  </div>
</template>

<script>
import Dialog from './Dialog.vue'
export default {
  props: ['show', 'list'],
  data () {
    return {
      showDialog: false
    }
  },
  components: {
    Dialog
  }
}
</script>

<style lang="scss" scoped>
.cart-list {
  position: fixed;
  bottom: 48px;
  top: 0;
  left: 0;
  right: 0;
  background: rgba($color: #000000, $alpha: .5);
}
.cart-content {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding-bottom: 20px;
  max-height: 400px;
  overflow: auto;
  h3 {
    background: #f3f5f7;
    height: 40px;
    line-height: 40px;
    padding: 0 18px;
    font-size: 16px;
    font-weight: normal;
    span {
      float: right;
    }
  }
  li {
    height: 40px;
    border-bottom: 1px dashed;
    padding: 0 12px;
    display: flex;
    align-items: center;
    color: #333333;
    p {
      flex: 1;
      text-align: right;
      padding: 0 14px;
    }
    button {
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background: #00a0dc;
      border: none;
      color: #ffffff;
    }
  }
}
</style>
