<template>
  <div>
    <button @click="show = !show">显示</button>
    <transition name="abc" enter-active-class="abcdefg" @after-enter="afterEnter">
      <p v-if="show"></p>
    </transition>
    <hr />
    <button @click="showH2 = !showH2">展示标题</button>
    <transition
      enter-active-class="animate__animated animate__rollIn"
      leave-active-class="animate__animated animate__hinge"
    >
      <h2 v-if="showH2">标题</h2>
    </transition>
  </div>
</template>

<script>
export default {
  data () {
    return {
      show: false,
      showH2: false
    }
  },
  methods: {
    afterEnter () {
      console.log('动画执行完成')
    }
  }
}
</script>

<style lang="scss" scoped>
h2 {
  background: tomato;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #ffffff;
}
p {
  width: 100px;
  height: 100px;
  background: red;
}
// 进入之前
.abc-enter {
  opacity: 0;
}
// 过渡效果
.abcdefg {
  transition: opacity 5s linear;
}
// 进入动画完成
.abc-enter-to {
  opacity: 1;
}
// 离开之前
.abc-leave {
  transform: translateX(0);
}
// 离开动画
.abc-leave-active {
  transition: transform 5s linear;
}
// 离开完成
.abc-leave-to {
  transform: translateX(100vw);
}
</style>
