<template>
  <div class="dialog" v-if="visible" @click.self="$emit('update:visible', false)">
    <div class="dialog-main">
      <div class="dialog-content">
        <slot>
          <h3>{{ title }}</h3>
          <p>{{ desc }}</p>
        </slot>
      </div>
      <div class="dialog-btns">
        <button class="cancel line" v-if="!hideCancel" @click="$emit('onCancel')">取消</button>
        <button class="ok" @click="$emit('onOk')">确定</button>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: ['title', 'desc', 'hideCancel', 'visible']
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba($color: #000000, $alpha: .5);
}
.dialog-main {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #ffffff;
  display: flex;
  flex-direction: column;
  width: 270px;
  border-radius: 8px;
  overflow: hidden;
}
.dialog-content {
  min-height: 100px;
  padding: 20px;
  text-align: center;
}
.dialog-btns {
  height: 40px;
  border-top: 1px solid #eeeeee;
  display: flex;
  button {
    flex: 1;
    background: none;
    border: none;
  }
  .line {
    border-right: 1px solid #eeeeee;
  }
  .cancel {
    color: #999999;
  }
  .ok {
    color: #fc9153;
  }
}
</style>
