<template>
  <div class="dialog" v-if="visible">
    <div class="stars">
      <p v-for="item in 5" :key="item" :class="['star', { starActive: item <= info.score }]"></p>
    </div>
    <div class="close" @click="$emit('update:visible', false)">x</div>
  </div>
</template>

<script>
export default {
  props: ['visible', 'info']
}
</script>

<style lang="scss" scoped>
.dialog {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(7, 17, 27, .8);
}
.close {
  position: absolute;
  bottom: 100px;
  left: 50%;
  margin-left: -15px;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  color: #ffffff;
  font-size: 20px;
}
.stars {
  width: 180px;
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  p {
    width: 30px;
    height: 30px;
    background-size: 100% 100%;
  }
}
</style>
