<template>
  <div>
    <nav>
      <span
        v-for="(item, index) in banners"
        :key="item.targetId"
        :class="{ active: curIndex === index }"
        @click="changeTab(index)"
      >{{ index }}</span>
    </nav>
    <div class="swiper" ref="swiperRef">
      <div class="swiper-wrapper">
        <div class="swiper-slide" v-for="item in banners" :key="item.targetId">
          <img :src="item.imageUrl" alt="">
        </div>
      </div>
      <div class="swiper-pagination" ref="pagination"></div>
      <div class="swiper-button-prev" ref="prev"></div>
      <div class="swiper-button-next" ref="next"></div>
    </div>
  </div>
</template>

<script>
import axios from 'axios'
import Swiper from 'swiper'
import { Navigation, Pagination } from 'swiper/modules'
import 'swiper/css'
import 'swiper/css/navigation'
import 'swiper/css/pagination'

export default {
  data () {
    return {
      banners: [],
      curIndex: 0
    }
  },
  methods: {
    changeTab (index) {
      // tab切换时修改轮播图下标
      this.curIndex = index
      this.swiper.slideTo(index)
    }
  },
  created () {
    axios.get('http://zyxcl.xyz/music_api/banner').then(res => {
      this.banners = res.data.banners
    })
  },
  mounted () {
    this.swiper = new Swiper(this.$refs.swiperRef, {
      // 分页器元素
      pagination: {
        el: this.$refs.pagination
      },
      // 左右切换的按钮
      navigation: {
        nextEl: this.$refs.next,
        prevEl: this.$refs.prev
      },
      // 使用分页器和左右切换插件
      modules: [Navigation, Pagination],
      on: {
        // 监听轮播图切换
        activeIndexChange: () => {
          // console.log(this.swiper.activeIndex)
          this.curIndex = this.swiper.activeIndex
        }
      }
    })
  }
}
</script>

<style lang="scss" scoped>
nav {
  display: flex;
  height: 40px;
  span  {
    flex: 1;
    text-align: center;
    line-height: 40px;
    &.active {
      background: tomato;
    }
  }
}
.swiper-slide {
  img {
    width: 100%;
  }
}
</style>
