@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1708409296045') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-wode:before {
  content: "\e75e";
}

.icon-faxian:before {
  content: "\e68e";
}

.icon-xunhuanbofang:before {
  content: "\e6db";
}

.icon-guangbo:before {
  content: "\ec36";
}

.icon-fangdajing:before {
  content: "\e647";
}

.icon-zanting:before {
  content: "\e662";
}

.icon-bofang:before {
  content: "\e63a";
}

.icon-zanting1:before {
  content: "\e63b";
}

.icon-shangyishou:before {
  content: "\e63c";
}

.icon-xiayishou:before {
  content: "\e63e";
}

.icon-bofang1:before {
  content: "\e642";
}

.icon-caidan:before {
  content: "\e624";
}

.icon-suijibofang:before {
  content: "\e574";
}

.icon-danquxunhuan:before {
  content: "\e604";
}

