<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">

    <ul>
      <li v-for="item in list" :key="item.title">
        <h3>{{ item.title }}</h3>
        <p>价格：{{ item.price }}</p>
        <button @click="item.count--">-</button>
        {{ item.count }}
        <button @click="item.count++">+</button>
      </li>
    </ul>
    <footer>总价: {{ total }}</footer>
    <footer>总价: {{ total }}</footer>
    <footer>总价: {{ total }}</footer>
    <!-- <footer>总价: {{ total() }}</footer>
    <footer>总价: {{ total() }}</footer>
    <footer>总价: {{ total() }}</footer>
    <footer>总价: {{ total() }}</footer> -->
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        title: '计算属性',
        list: [
          {
            title: '苹果',
            price: 10,
            count: 0
          },
          {
            title: '香蕉',
            price: 5,
            count: 0
          },
          {
            title: '梨',
            price: 15,
            count: 0
          }
        ]
      },
      // 计算属性：根据一个或者多个响应式变量生成一个新变量，必须有返回值，依赖的变量改变时自动重新计算结果，否则从缓存中读取结果
      computed: {
        total() {
          console.log('计算属性')
          return this.list.reduce((prev, val) => {
            return prev + val.count * val.price
          }, 0)
        }
      },
      methods: {
        // total() {
        //   console.log('计算结果')
        //   return this.list.reduce((prev, val) => {
        //     return prev + val.count * val.price
        //   }, 0)
        // }
      }
    })
  </script>
</body>
</html>