<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h2>{{ title }}</h2>
    <input type="text" v-model="title">
    <hr />
    <button @click="num++">{{ num }}</button>
    <input type="checkbox" v-model="flag">{{ flag }}
    <hr />
    len: {{ len }}
  </div>

  <script>

    let a = 100

    const vm = new Vue({
      el: '.app',
      data: {
        title: '计算属性',
        num: 0,
        flag: true
      },
      // 计算属性：根据一个或者多个响应式变量生成一个新变量，必须有返回值，依赖的变量改变时自动重新计算结果，否则从缓存中读取结果
      computed: {
        len() {
          console.log('根据 title 和 num 自动计算结果')
          if (this.flag) {
            return this.title.length + this.num
          }
          return '不用计算'
        }
      },
      methods: {
      }
    })
  </script>
</body>
</html>