<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <p>姓氏：{{ firstName }} <input type="text" v-model="firstName"></p>
    <p>名字：{{ lastName }} <input type="text" v-model="lastName"></p>
    <p>fullName： {{ fullName }}</p>
    <button @click="setFullname">修改fullName</button>
  </div>

  <script>


    const vm = new Vue({
      el: '.app',
      data: {
        firstName: '诸葛',
        lastName: '小明'
      },
      computed: {
        // fullName() {
        //   return  `我的名字叫：${this.firstName} ${this.lastName}`
        // },
        // 给计算属性添加getter和setter，可以手动赋值
        fullName: {
          get() {
            return `我的名字叫：${this.firstName} ${this.lastName}`
          },
          set(newVal) {
            console.log(newVal)
            const [a, b] = newVal.split(' ')
            this.firstName = a
            this.lastName = b
          }
        }
      },
      methods: {
        setFullname() {
          // 计算属性默认不能手动赋值，必须通过更新依赖项改变结果
          // this.fullName = '欧阳铁柱'

          this.fullName = '欧阳 铁柱'
        }
      }
    })
  </script>
</body>
</html>