<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <button @click="add">add</button>
    <ul>
      <!-- vue2 不推荐在同一个标签上使用 v-if 和 v-for，建议改成计算属性 -->
      <!-- <li v-for="item in arr" v-if="item % 2 !== 0" :key="item">{{ item }}</li> -->
      <li v-for="item in oddArr" :key="item">{{ item }}</li>
    </ul>
  </div>

  <script>

    const vm = new Vue({
      el: '.app',
      data: {
        arr: []
      },
      computed: {
        oddArr() {
          return this.arr.filter(v => v % 2 !== 0)
        }
      },
      methods: {
        add() {
          this.arr.push(this.arr.length)
          console.log(this.arr)
        }
      }
    })
  </script>
</body>
</html>