<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./axios.min.js"></script>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <button @click="num--">-</button>
    {{ num }}
    <button @click="num++">+</button>
    <hr />
    <input type="text" v-model="keyword" placeholder="请输入搜索的关键字">
    <ul>
      <li v-for="item in songs" :key="item.id">{{ item.name }}</li>
    </ul>
    <hr />
    <h2>监听对象</h2>
    {{ obj }}
    <input type="text" v-model="obj.name">
    <input type="text" v-model="obj.age">
    <button @click="setObj">修改obj</button>
  </div>

  <script>

    const vm = new Vue({
      el: '.app',
      data: {
        num: 0,
        keyword: '',
        songs: [],
        obj: {
          name: '小明',
          age: 20
        }
      },
      // 侦听器：监听变量改变，自动执行函数
      watch: {
        num(newVal, oldVal) {
          console.log('this.num', this.num)
          console.log('newVal', newVal)
          console.log('oldVal', oldVal)
        },
        // keyword 改变自动执行 methods 中的  startSearch 函数
        keyword: 'startSearch',
        // 监听 obj 地址改变，无法监听到对象的属性改变
        // obj() {
        //   console.log('obj改变了', this.obj)
        // },
        // 可以监听 obj 地址或者属性改变
        obj: {
          handler() {
            console.log('obj改变了', this.obj)
          },
          // 深度监听
          deep: true
        }
        // 监听对象的某一个属性改变
        // 'obj.name': function() {
        //   console.log('obj.name改变了', this.obj.name)
        // },
        // 进入页面立即执行一次函数
        // num: {
        //   handler() {
        //     console.log('num改变了', this.num)
        //   },
        //    立即执行函数
        //   immediate: true
        // }
      },
      methods: {
        setObj() {
          this.obj = {
            name: '小刚',
            age: 33
          }
        },
        async startSearch() {
          const res = await axios.get('https://zyxcl.xyz/music_api/search', {
            params: {
              keywords: this.keyword
            }
          })
          this.songs = res.data.result?.songs
        }
      }
    })
  </script>
</body>
</html>