<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./axios.min.js"></script>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    全选 <input type="checkbox" v-model="checkAll" @change="changeAll">
    <ul>
      <li v-for="item in list" :key="item.title">
        <input type="checkbox" v-model="item.checked">
        {{ item.title }}
      </li>
    </ul>
    {{list}}
  </div>

  <script>

    const vm = new Vue({
      el: '.app',
      data: {
        checkAll: true,
        list: [
          {
            title: '唱歌',
            checked: true
          },
          {
            title: '跳舞',
            checked: true
          },
          {
            title: '篮球',
            checked: true
          },
          {
            title: 'rap',
            checked: true
          }
        ]
      },
      // 侦听器：监听变量改变，自动执行函数
      watch: {
        list: {
          handler() {
            console.log('list改变了')
            this.checkAll = this.list.every(v => v.checked)
          },
          deep: true,
          immediate: true
        }
      
      },
      methods: {
        changeAll() {
          this.list.forEach(item => {
            item.checked = this.checkAll
          })
        }
      }
    })
  </script>
</body>
</html>