<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./axios.min.js"></script>
  <script src="./vue.js"></script>
</head>
<style>
  * {
    margin: 0;
    padding: 0;
  }
  .app {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
  }
  header {
    height: 50px;
    background: #333333;
  }
  main {
    flex: 1;
    background: #999999;
  }
  .center {
    width: 600px;
    margin: 0 auto;
  }
  .title-bar {
    height: 100%;
    display: flex;
    align-items: center;
  }
  .title-bar input {
    height: 30px;
    flex: 1;
    margin-left: 50px;
    outline: none;
    border: none;
    padding: 0 10px;
    border-radius: 5px;
  }
  .content h2 {
    font-size: 18px;
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .content h2 span {
    width: 26px;
    height: 26px;
    background: #bbbbbb;
    border-radius: 50%;
    text-align: center;
    line-height: 26px;
  }
  .list li {
    background: #ffffff;
    height: 30px;
    list-style-type: none;
    margin-bottom: 10px;
    border-radius: 5px;
    border-left: 5px solid #009688;
    display: flex;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;
  }
  .list li p {
    flex: 1;
    margin: 0 10px;
  }
  .clear {
    text-align: center;
    cursor: pointer;
    margin-top: 20px;
  }
</style>
<body>
  <div class="app">
    <header>
      <div class="center title-bar">
        <h2>todolist</h2>
        <input type="text" placeholder="todo..." v-model.trim="todoText" @keydown.enter="add">
      </div>
    </header>
    <main>
      <div class="center content">
        <h2>正在进行 <span>{{ todo.length }}</span></h2>
        <ul class="list">
          <li v-for="(item, index) in todo" :key="item.id">
            <span @click="change(index)">
              <svg t="1710222353843" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4585" width="20" height="20"><path d="M863.84 127.73a32 32 0 0 1 32 32v704a32 32 0 0 1-32 32h-704a32 32 0 0 1-32-32v-704a32 32 0 0 1 32-32h704m0-64h-704a96 96 0 0 0-96 96v704a96 96 0 0 0 96 96h704a96 96 0 0 0 96-96v-704a96 96 0 0 0-96-96z" p-id="4586"></path></svg>
            </span>
            <p>
              <input :ref="item.id" v-if="item.isEdit" type="text" v-model="item.text" autofocus @blur="item.isEdit = false">
              <span v-else @click="showEdit(item)">{{ item.text }}</span>
            </p>
            <svg @click="todo.splice(index, 1)" t="1710222395835" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5691" width="20" height="20"><path d="M751 157.4c45.2 6.4 92.2-1.8 129.1 4.5 59.7 10.2 90 61 83.5 135.8h-72.3c-2 132.7-1.1 264.1-1.1 397.3 0 67.2 5.6 137.8-1.1 198.1-6.3 56.9-48.1 91.6-99 100.1-50.3 8.4-117 2.2-172.5 2.2-116.4 0-234.3 2.3-348.3 0-55.5-1.1-96.5-18.7-121.3-52.3-24.8-33.6-22.3-84.4-22.3-144.7V297.7h-69c-11.2-68.8 18.6-118.3 69-134.6 37.1-12 86.5-2.3 139.1-5.6-4.3-74.1-0.2-130.3 63.4-138 28.5-3.4 66.5 0 101.3 0H632c38.6 0 78.1-3.7 97.9 13.4 27.3 23.5 20.2 78 21.1 124.5zM333.7 92.8v66.8H682V89.5H334.8c-1.3 0.2-1.2 1.7-1.1 3.3z m-67.9 212.6v424c0 36.2-8.3 113.4 13.4 129.1 8.6 6.2 30.9 7.2 41.2 0 22.4-15.6 14.5-90.6 14.5-128V302.1H267c-1.4 0.1-1.3 1.7-1.2 3.3z m207 0V716c0 32.4-7.5 109.1 5.6 131.3 8.6 14.7 37.8 21.3 52.3 10 19.7-15.4 11.1-96.6 11.1-130.2V302h-67.9c-1.3 0.2-1.2 1.8-1.1 3.4z m209.2 0v429.5c0 44-8.6 111.5 20 123.5 12.5 5.3 34.6 1.2 40.1-3.3 18.7-15.4 10-97.8 10-130.2V302.1h-69c-1.3 0.1-1.2 1.7-1.1 3.3z" fill="#d81e06" p-id="5692"></path></svg>
          </li>
        </ul>
        <h2>已经完成 <span>{{ done.length }}</span></h2>
        <ul class="list">
          <li v-for="(item, index) in done" :key="item.id">
            <span @click="changeDone(index)">
              <svg t="1710222319939" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="4335" width="20" height="20"><path d="M813.056 107.008H204.8a102.4 102.4 0 0 0-102.4 102.4V819.2a102.4 102.4 0 0 0 102.4 102.4h609.28a102.4 102.4 0 0 0 102.4-102.4V208.896a102.4 102.4 0 0 0-103.424-101.888z m-31.744 240.128L413.696 716.8a25.6 25.6 0 0 1-17.92 7.68 25.6 25.6 0 0 1-18.944-7.68L235.008 556.544a25.6 25.6 0 1 1 37.888-33.792L396.288 660.48l349.184-349.184a25.6 25.6 0 1 1 35.84 35.84z" p-id="4336" fill="#009688"></path></svg>
            </span>
            <p>
              <input :ref="item.id" v-if="item.isEdit" type="text" v-model="item.text" @blur="item.isEdit = false">
              <span v-else @click="showEdit(item)">{{ item.text }}</span>
            </p>
            <svg @click="done.splice(index, 1)" t="1710222395835" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="5691" width="20" height="20"><path d="M751 157.4c45.2 6.4 92.2-1.8 129.1 4.5 59.7 10.2 90 61 83.5 135.8h-72.3c-2 132.7-1.1 264.1-1.1 397.3 0 67.2 5.6 137.8-1.1 198.1-6.3 56.9-48.1 91.6-99 100.1-50.3 8.4-117 2.2-172.5 2.2-116.4 0-234.3 2.3-348.3 0-55.5-1.1-96.5-18.7-121.3-52.3-24.8-33.6-22.3-84.4-22.3-144.7V297.7h-69c-11.2-68.8 18.6-118.3 69-134.6 37.1-12 86.5-2.3 139.1-5.6-4.3-74.1-0.2-130.3 63.4-138 28.5-3.4 66.5 0 101.3 0H632c38.6 0 78.1-3.7 97.9 13.4 27.3 23.5 20.2 78 21.1 124.5zM333.7 92.8v66.8H682V89.5H334.8c-1.3 0.2-1.2 1.7-1.1 3.3z m-67.9 212.6v424c0 36.2-8.3 113.4 13.4 129.1 8.6 6.2 30.9 7.2 41.2 0 22.4-15.6 14.5-90.6 14.5-128V302.1H267c-1.4 0.1-1.3 1.7-1.2 3.3z m207 0V716c0 32.4-7.5 109.1 5.6 131.3 8.6 14.7 37.8 21.3 52.3 10 19.7-15.4 11.1-96.6 11.1-130.2V302h-67.9c-1.3 0.2-1.2 1.8-1.1 3.4z m209.2 0v429.5c0 44-8.6 111.5 20 123.5 12.5 5.3 34.6 1.2 40.1-3.3 18.7-15.4 10-97.8 10-130.2V302.1h-69c-1.3 0.1-1.2 1.7-1.1 3.3z" fill="#d81e06" p-id="5692"></path></svg>
          </li>
        </ul>
        <div class="clear" @click="clear">清空所有任务</div>
      </div>
    </main>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        todoText: '',
        todo: JSON.parse(localStorage.getItem('todo')) || [],
        done: JSON.parse(localStorage.getItem('done')) || []
      },
      watch: {
        todo() {
          localStorage.setItem('todo', JSON.stringify(this.todo))
        },
        done() {
          localStorage.setItem('done', JSON.stringify(this.done))
        }
      },
      methods: {
        add() {
          if (this.todoText.length === 0) {
            return alert('请输入任务名')
          }
          this.todo.push({
            id: Date.now(),
            text: this.todoText,
            isEdit: false
          })
          this.todoText = ''
        },
        change(index) {
          this.done.push(this.todo[index])
          this.todo.splice(index, 1)
        },
        changeDone(index) {
          this.todo.push(this.done[index])
          this.done.splice(index, 1)
        },
        clear() {
          this.todo = []
          this.done = []
        },
        showEdit(item) {
          // 展示编辑的input
          item.isEdit = true
          this.$nextTick(() => {
            // 等待页面更新完成，input渲染完成后获取焦点
            console.log(item.id, this.$refs[item.id][0])
            this.$refs[item.id][0].focus()
          })
        }
      }
    })
  </script>
</body>
</html>