<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="./vue.js"></script>
</head>
<body>
  <div class="app">
    <h1>{{ title }}</h1>
    <input type="text" v-model="title">
    <p>定时器：{{ num }}</p>
  </div>

  <!-- <div class="loading">加载中。。。</div> -->

  <script>
    // 生命周期：vue实例从创建到销毁的过程
    // 生命周期钩子函数: 在特定时机自动执行的函数
    const vm = new Vue({
      el: '.app',
      data: {
        title: '标题',
        num: 0
      },
      // template: `
      //   <div class="app">
      //     <b>{{ title }}</b>
      //   </div>
      // `,
      // 创建阶段
      // 实例创建之前，vue实例还未创建，vue相关的数据和方法不可用，处理和vue无关的逻辑
      beforeCreate() {
        console.log('%c beforeCreate', 'font-size: 20px; color: red', this.title)
      },
      // 实例创建完成，vue的数据、计算属性、方法可以是用，但是页面还没有渲染，可以调用接口、格式化数据、创建定时器...
      created() {
        console.log('%c created', 'font-size: 20px; color: red', this.title)
        console.log(document.querySelector('h1').outerHTML)
        this.timer = setInterval(() => {
          this.num++
          console.log('定时器', this.num)
        }, 500)
      },
      // 挂载阶段
      // 页面挂载之前，可以修改数据
      beforeMount() {
        console.log('%c beforeMount', 'font-size: 20px; color: red', this.title)
        console.log(this.$el)
      },
      // 页面挂载完成，能获取到页面上最新的dom元素
      mounted() {
        console.log('%c mounted', 'font-size: 20px; color: red', this.$el)
        console.log(document.querySelector('.app').outerHTML)

        this.handleClick = () => {
          console.log('点击按钮')
        }
        document.addEventListener('click', this.handleClick)
      },
      // 更新阶段
      // 数据改变后，页面更新前
      // beforeUpdate() {
      //   console.log('%c beforeUpdate', 'font-size: 20px; color: red')
      //   console.log(document.querySelector('h1').outerHTML)
      // },
      // // 页面更新完成，可以获取到最新的dom元素
      // updated() {
      //   console.log('%c updated', 'font-size: 20px; color: red')
      //   console.log(document.querySelector('h1').outerHTML)
      // },
      // 销毁之前, 清除页面上的异步任务：定时器、原生事件
      beforeDestroy() {
        console.log('%c beforeDestroy', 'font-size: 20px; color: red')
        clearInterval(this.timer)
        document.removeEventListener('click', this.handleClick)
      },
      // 销毁完成
      destroyed() {
        console.log('%c destroyed', 'font-size: 20px; color: red')
      }
    })


    // vm.$mount('.app')
  </script>
</body>
</html>