<script setup>
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <nav>
    <RouterLink to="/">Home</RouterLink>
    <RouterLink to="/about">About</RouterLink>
  </nav>
  <hr />
  <RouterView />
</template>

<style scoped>
nav a {
  margin-left: 20px;
}
</style>
