<template>
  <div class="child11">
    <h2>子组件2</h2>
    <button @click="$emit('change', 1)">修改Child1</button>
    <Child22 />
  </div>
</template>

<script>
import Child22 from './Child22.vue'
export default {
  components: {
    Child22
  }
}
</script>

<style scoped>
.child11 {
  background: orange;
}
</style>
