<template>
  <div class="box">
    <h2>子组件1</h2>
    num: {{ num }}
    <Child11 />
  </div>
</template>

<script>
import Child11 from './Child11.vue'
export default {
  components: {
    Child11
  },
  props: ['num'],
  data () {
    return {
    }
  }
}
</script>

<style lang="scss" scoped>
.box {
  border: 1px solid;
}
</style>
