<template>
  <div class="box">
    <h2>子组件1-1</h2>
    <Child111 />
  </div>
</template>

<script>
import Child111 from './Child111.vue'
export default {
  components: {
    Child111
  }
}
</script>

<style lang="scss" scoped>
.box {
  background: pink;
}
</style>
