<template>
  <div class="child22">
    <h2>子组件2-2</h2>
    <button @click="clickBtn">修改text</button>
  </div>
</template>

<script>
export default {
  methods: {
    clickBtn () {
      console.log(this.$bus)
      // 调用 event bus 中的事件
      this.$bus.$emit('changeText', Math.random())
    }
  }
}
</script>

<style scoped>
.child22 {
  background: skyblue;
}
</style>
