<template>
  <div class="box1">
    <h2>子组件1-1-1</h2>
    <p>{{ text }}</p>
  </div>
</template>

<script>
export default {
  data () {
    return {
      text: '默认文本'
    }
  },
  methods: {
    changeText (t) {
      this.text = t
    }
  },
  created () {
    // 给 event bus 注册事件
    this.$bus.$on('changeText', this.changeText)
  }
}
</script>

<style lang="scss" scoped>
.box1 {
  background: tomato;
}
</style>
