<template>
  <div>
    <button @click="ComName = 'Child1'">按钮1</button>
    <button @click="ComName = 'Child2'">按钮2</button>
    <button @click="ComName = 'Child3'">按钮3</button>
    <button @click="ComName = 'Child4'">按钮4</button>
    <component :is="ComName"></component>
  </div>
</template>

<script>
import Child1 from './components/Child1.vue'
const Child2 = () => import(/* webpackChunkName: 'child2' */'./components/Child2.vue')
const Child3 = () => import(/* webpackChunkName: 'child3' */'./components/Child3.vue')
const Child4 = () => import(/* webpackChunkName: 'child4' */'./components/Child4.vue')

export default {
  data () {
    return {
      ComName: 'Child1'
    }
  },
  components: {
    Child1,
    Child2,
    Child3,
    Child4
  }
}
</script>

<style>

</style>
