<script setup>
import { reactive, ref, computed, watch, watchEffect } from 'vue'

const title = ref('标题')
const num = ref(0)
const xm = ref({ name: '小明', age: 22 })
const xg = reactive({ name: '小刚', age: 33, info: { a: 100 } })


// 监听一个变量
// watch(title, (newVal, oldVal) => {
//   console.log('title改变了', title.value)
//   console.log(newVal, oldVal)
// })

// 监听多个变量
// watch([title, num], (newVal, oldVal) => {
//   // console.log('title或者num改变了', title.value, num.value)
//   console.log(newVal, oldVal)
// })

// 监听对象, 只能监听对象重新赋值，无法监听对象内部变化
// watch(xm, () => {
//   console.log('对象改变了', xm.value)
// })
// // 监听对象具体属性变化
// watch(() => xm.value.name, () => {
//   console.log('对象name改变了', xm.value.name)
// })
// 监听对象多个属性变化
// watch([() => xg.name, () => xg.age], () => {
//   console.log('对象name或age改变了', xg.name, xg.age)
// })

// // 监听ref变量的value或者reactive变量可以监听到对象所有属性的改变， 默认是深度监听
// watch(xm.value, () => {
//   console.log('对象改变了', xm.value)
// })
// watch(xg, () => {
//   console.log('小刚改变了', xg)
// })

// 监听对象的某个属性时默认不会深度监听，可以使用 deep: true
// watch(
//   () => xg.info,
//   () => {
//     console.log('xg.info 改变了', xg.info)
//   },
//   {
//     deep: true
//   }
// )

// 进入页面立即执行一次 immediate: true
// watch(title, () => {
//   console.log('title', title.value)
// }, { immediate: true })

// 自动监听函数内部使用的变量
// watchEffect(() => {
//   console.log('61行 ============', title.value, xg.name)
// })

// watch的回调函数默认在页面更新之前执行，flush: 'post' 让回调函数在页面更新后执行
const unwatch = watch(title, () => {
  console.log('title改变了', document.querySelector('.h2').innerHTML)
}, { flush: 'post' })


setTimeout(() => {
  // 停止监听
  unwatch()
}, 5000)

</script>

<template>
  <h2 class="h2">{{ title }}</h2>
  <input type="text" v-model="title">
  <button @click="num++">{{ num }}</button>
  <hr />
  <input type="text" v-model="xm.name">
  <input type="text" v-model="xm.age">
  <button @click="xm = { name: '123', age: 100 }">重置对象</button>
  <div>{{ xm }}</div>
  <hr />
  <input type="text" v-model="xg.name">
  <input type="text" v-model="xg.age">
  <div>xg.info.a <input type="text" v-model="xg.info.a"></div>
  <div>{{ xg }}</div>
</template>

<style scoped>

</style>
