<template>
  <div>
    <h2>电影页面</h2>
    <router-link to="/city">城市</router-link>
    <router-link to="/detail/aaa">详情</router-link>
    <router-link to="/login">登录</router-link>
  </div>
</template>

<script>
import axios from 'axios'
export default {
  created() {
    axios.get('https://m.maizuo.com/gateway', {
      params: {
        cityId: 440300,
        pageNum: 1,
        pageSize: 10,
        type: 1,
        k: 1366490
      },
      headers: {
        'X-Client-Info': '{"a":"3000","ch":"1002","v":"5.2.1","e":"1697785287468761320620033"}',
        'X-Host': 'mall.film-ticket.film.list'
      }
    }).then(res => {
      console.log(res.data)
    })
  }
}
</script>

<style>

</style>