<script setup>
import Child11 from './Child11.vue'

const props = defineProps(['count', 'modelValue'])
const emits = defineEmits(['update:count', 'update:modelValue'])



</script>

<template>
  <div class="child">
    <h3>子组件 Child</h3>
    <p>父组件的count: {{ count }} <button @click="emits('update:count', count + 1)">+</button></p>
    <p>父组件的text: {{ modelValue }}</p>
    <input type="text" :value="modelValue" @input="e => emits('update:modelValue', e.target.value)">


    <Teleport to="body">
      <!-- 把此元素渲染到指定的位置 -->
      <Child11 v-if="count > 5" />
    </Teleport>

  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 5px solid salmon;
  padding: 50px;
}
</style>
