<template>
  <div>
    <h1>首页</h1>
    <el-button type="primary">主要按钮</el-button>
    <el-date-picker v-model="value" type="datetime" placeholder="选择日期时间">
    </el-date-picker>
    {{ value }}

    <hr />
    <el-button type="primary" @click="clickFn">成功</el-button>
    <hr />
    <el-table :data="tableData" :height="400" border style="width: 100%">
      <el-table-column prop="name" label="姓名" width="180"> </el-table-column>
      <el-table-column prop="age" label="年龄" width="180"> </el-table-column>
      <el-table-column prop="sex" label="性别"> </el-table-column>
    </el-table>
  </div>
</template>

<script>
export default {
  data() {
    return {
      value: "",
      tableData: [
        { name: '小明1', age: 20, sex: '男' },
        { name: '小明2', age: 22, sex: '女' },
        { name: '小明3', age: 21, sex: '男' },
        { name: '小明4', age: 19, sex: '女' },
        { name: '小明5', age: 23, sex: '男' }
      ]
    };
  },
  methods: {
    clickFn() {
      this.$message.success("登录信息失效");
    },
  },
};
</script>

<style>
</style>