/* pages/detail/detail.wxss */
@import '../../styles/variable.scss';

.title {
  background: skyblue;
  text-align: center;
  line-height: rpx(50);
  .text {
    color: red;
  }
}
.list {
  .item {
    padding: rpx(20);
    border-bottom: 1px solid $color;
    image {
      width: rpx(100);
      height: rpx(100);
    }
  }
}