<script setup>
import { reactive, ref, computed, watch, watchEffect, onMounted, onUpdated, nextTick } from 'vue'

const obj = ref({ name: 'xiaoming', age: 22 })
const arr = ref([1,2,3,4,5])

const addSex = () => {
  // vue3可以直接给对象新增响应式属性，不需要 $set
  obj.value.sex = Math.random()
}
const changeArr = () => {
  // vue3可以通过下标修改数组内容，不需要 $set
  arr.value[2] = 200

  // console.log(document.querySelector('.p1').innerHTML)
  nextTick(() => {
    console.log(document.querySelector('.p1').innerHTML)
  })
}
</script>

<template>
  <p>姓名：{{ obj.name }} <input type="text" v-model="obj.name"></p>
  <button @click="addSex">添加sex属性</button>
  <div>{{ obj }}</div>
  <hr />
  <button @click="changeArr">修改数组</button>
  <p class="p1">arr: {{ arr }}</p>
  <hr />
  <ul>
    <!-- 在同一个标签上使用 v-for 和 v-if, vue2 中 v-for 优先级高，vue3 中 v-if 优先级高 -->
    <!-- <li v-for="item in arr" :key="item" v-if="item % 2 === 0">{{ item }}</li> -->
  </ul>
</template>

<style scoped>

</style>
