<script setup>
import { onMounted, ref } from 'vue'
const container = ref()

onMounted(() => {
  // 创建地图实例
  const map = new BMapGL.Map(container.value)
  // 获取当前位置
  navigator.geolocation.getCurrentPosition((position) => {
    // 获取位置成功
    console.log('当前经纬度', position.coords.latitude, position.coords.longitude)
    // 设置中心点
    const center = new BMapGL.Point(position.coords.longitude, position.coords.latitude)
    // 地图初始化
    map.centerAndZoom(center, 15)
    map.enableScrollWheelZoom(true)

    // 设置覆盖物的中心点
    const point = new BMapGL.Point(position.coords.longitude, position.coords.latitude)
    const marker = new BMapGL.Marker(point)      // 创建标注   
    map.addOverlay(marker)                  // 将标注添加到地图中
    marker.addEventListener("click", function(){   
        alert("您点击了标注")
    })
    // 添加线
    const polyline = new BMapGL.Polyline([
      new BMapGL.Point(116.301078,40.043801),
      new BMapGL.Point(116.301807,40.040318),
      new BMapGL.Point(116.296142,40.04109)
    ], { strokeColor:"blue", strokeWeight:10, strokeOpacity: 1 });
    map.addOverlay(polyline);

  })
})

</script>

<template>
  <div id="container" ref="container"></div> 
</template>

<style lang='scss' scoped>
#container {
  width: 100%;
  height: 100%;
}
</style>
