<script setup>
import { reactive, ref, computed } from 'vue'

const title = ref('标题')
const arr = reactive([1,2,3,4,5])

// 计算属性
// 1. 自动监听函数内使用的变量，依赖的变量更新自动执行函数计算结果，没有更新就从缓存中读取数据
// 2. js 中使用变量要通过 value 属性
const total = computed(() => {
  console.log('计算总和')
  return arr.reduce((prev, val) => prev + val)
})

const len = computed(() => {
  return title.value.length + arr.length
})

const changeTitle = () => {
  // title.value = Math.random()
  console.log(total.value)
}

</script>

<template>
  <h2>{{ title }}</h2>
  <input type="text" v-model="title">
  <button @click="changeTitle">修改title</button>
  <div>len: {{ len }}</div>
  <hr />
  <button @click="arr.push(arr.length + 1)">add</button>
  <div>总数：{{ total }}</div>
  <ul>
    <li v-for="item in arr" :key="item">{{ item }}</li>
  </ul>
</template>

<style scoped>

</style>
