* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
input, button {
  appearance: none;
  outline: none;
  border: none;
  background: none;
}
a {
  text-decoration: none;
}
li {
  list-style-type: none;
}
img {
  vertical-align: middle;
}
html {
  font-size: calc(100vw / 375 * 10);
  width: 100vw;
  height: 100vh;
}
.page, body {
  font-size: 14px;
  width: 100vw;
  height: 100vh;
}