<template>
  <div class="about">
    <h1>This is an about page</h1>
    {{ banners }}
  </div>
</template>

<script>
import { mapState, mapMutations } from 'vuex'

export default {
  computed: {
    ...mapState(['banners'])
  },
  created() {
    // 调用vuex中的action
    this.$store.dispatch('getData')
  }
}
</script>