/* components/counter/counter.wxss */
@import "../../styles/variable.scss";
.counter {
  border: rpx(1) solid red;
  padding: rpx(20);
}
.btns {
  button {
    vertical-align: middle;
  }
  text {
    margin: 0 10px;
  }
}