.login {
  position: relative;
  background: #eeeeee;
}
.loginForm {
  background: #ffffff;
  width: 300px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  border-radius: 8px;
  h3 {
    text-align: center;
    margin-bottom: 20px;
  }
}