<template>
  <div id="app">
    <router-link to="/">首页</router-link>
    <router-link to="/user">个人中心</router-link>
    <router-view/>
  </div>
</template>

<style lang="scss">
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: calc(100vw / 375 * 100);
}
body {
  font-size: 14px;
}
html, body, #app {
  width: 100%;
  height: 100%;
  min-width: 320px;
}
</style>
