<script setup lang="ts">
import Child2 from '../components/Child2.vue'
import type { IExpose } from '../components/Child2.vue'
import { ref } from 'vue'

const childRef = ref<IExpose>()

const handleClick = () => {
  // 获取子组件对外暴露的数据和方法
  console.log(childRef.value)
  childRef.value?.changeNum(1)
}
</script>


<template>
  <div class="about">
    <h1>This is an about page</h1>
    <button @click="handleClick">父组件</button>
    <Child2 ref="childRef" />
  </div>
</template>

<style>

</style>
