<script setup lang="ts">
import { onMounted, ref } from 'vue'
import Child from '../components/Child.vue'
import type { TitleIParams } from '../components/Child.vue'

const title = ref('标题')
const num = ref(0)

const changeNum = (n: number) => {
  num.value += n
}

const changeTitle = ({ text, date }: TitleIParams) => {
  title.value = text
  console.log('修改时间', date)
}

const inp = ref<HTMLInputElement | null>()

onMounted(() => {
  console.log(inp.value?.value)
})
</script>

<template>
  <h1>{{ title }}</h1>
  <input type="text" v-model="title" ref="inp">
  <div>
    <button @click="num++">按钮点击次数: {{ num }}</button>
  </div>
  <Child :title="title" :num="num" @changeNum="changeNum" @changeTitle="changeTitle" />
</template>
