* {
  margin: 0;
  padding: 0;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: middle;
}
html, body, .app {
  width: 100%;
  height: 100%;
}
.app {
  display: flex;
  flex-direction: column;
  main {
    flex: 1;
  }
  nav {
    height: 40px;
    border-top: 1px solid;
    display: flex;
    a {
      flex: 1;
      text-align: center;
      line-height: 40px;
    }
  }
}