<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
</head>
<body>
  <div class="app">
    <button @click="change">修改数组下标3</button>
    <ul>
      <li v-for="item in arr" :key="item">{{item}}</li>
    </ul>
  </div>

  <script>
    const vm = new Vue({
      el: '.app',
      data: {
        arr: [1,2,3,4,5]
      },
      methods: {
        change() {
          // this.arr[3] = 3333
          // this.$set(this.arr, 3, 3333)
          this.arr.splice(3, 1, 3333)
          console.log(this.arr)
        }
      }
    })
    console.log(vm)
  </script>
</body>
</html>