<script setup>
// 接收父组件传过来的参数
const props = defineProps(['rootTitle', 'count'])
// 接收父组件的自定义事件
const emits = defineEmits(['changeCount'])

const change = () => {
  console.log(props.rootTitle, props.count)
  // 子组件改变父组件变量，通过自定义事件
  emits('changeCount', props.count + 1)
}
</script>

<template>
  <div class="child">
    <h2>child组件</h2>
    <h2>父组件标题: {{ rootTitle }}</h2>
    <h2>父组件count: {{ count }}</h2>
    <button @click="change">修改父组件count</button>
    <button @click="$emit('changeCount', count + 1)">count+</button>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 2px solid salmon;
  padding: 50px;
  box-sizing: border-box;
}
</style>
