<template>
  <div id="app">
    <!-- 渲染路由的位置 -->
    <router-view />
  </div>
</template>

<script>
export default {
  created() {
    // console.log(this.$router)
  }
}
</script>

<style lang="scss">

</style>
