<script setup>
import { inject } from 'vue'

const { count, setCount } = inject('rootCount')
const rootText = inject('rootText')


const clickfn = () => {
  setCount(count.value + 1)
}

</script>

<template>
  <div class="child">
    <h3>child 22组件</h3>
    <p>rootCount: {{ count }} <button @click="clickfn">+</button></p>
    <p>rootText: {{ rootText }}</p>
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 5px solid salmon;
  padding: 50px;
}
</style>
