<script setup>
import Child22 from './Child22.vue'

</script>

<template>
  <div class="child">
    <h3>child11</h3>
    <Child22 />
  </div>
</template>

<style lang='scss' scoped>
.child {
  border: 5px solid salmon;
  padding: 50px;
}
</style>
