<script setup>
import { reactive, ref, computed, watch, watchEffect, onMounted, onUpdated, nextTick, provide } from 'vue'
// 打包时打包成单独的js文件
const Child = defineAsyncComponent(() => import('./components/Child.vue'))

const count = ref(0)
const text = ref('默认值')

const setCount = val => {
  count.value = val
}

// 提供数据给所有后代组件
provide('rootCount', {
  count,
  setCount
})
provide('rootText', text)

</script>

<template>
  <h2>app组件</h2>
  <p>count: {{ count }} <button @click="count++">+</button></p>
  <p>texg: {{ text }} <button @click="text = Math.random()">修改text</button></p>
  <Child
    v-model:count="count"
    v-model="text"
  />
</template>

<style scoped>

</style>
