.app main {
  display: flex;
  flex-wrap: wrap;
  overflow: auto;
}
.goods {
  border: 1px solid;
  box-sizing: border-box;
  width: calc(100% / 3);
  img {
    width: 100%;
  }
  button {
    width: 30px;
    height: 20px;
  }
}